.st-sort-ascent:before {
    content: '\25B2';
}

.st-sort-descent:before {
    content: '\25BC';
}

#grid-data .table {
    height: 400px;
}

.tab {
    width: 100% !important;
    margin-top: 20px;
}

tr {
    font-size: 14px;
}

.border0 {
    border: 0 !important;
}

img {
    width: 100px;
}

/*thead, tbody { display: block; }*/

#grid-data tbody {
    height: calc(100vh - 300px);
    /* Just for the demo          */
    overflow-y: auto;
    /* Trigger vertical scroll    */
    overflow-x: hidden;
    /* Hide the horizontal scroll */
}

.header-50 {
    width: 45%;
    float: left;
}

.header-title {
    align-items: center !important;
    display: flex !important;
    height: 68px !important;
    color: #ffffff !important;
    font-size: 30px !important;
}

tfoot nav {
    box-shadow: none;
}

.center-lable {
    display: flex;
    align-items: center;
    vertical-align: middle;
    height: 90px;
    padding: 5px;
}

.ui-drop-down {
    margin-top: 5px;
    background-color: #438ebb !important;
    height: 25px;
    padding: 12px;
    color: #fff;
    width: 100% !important;
}

.td-span {
    width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    float: left;
}

.spinner-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    opacity: 0.9;
    background: #8080808a;
}

.watermark {
    position: absolute;
    top: 50%;
    opacity: 0.25;
    font-size: 3em;
    width: 100%;
    text-align: center;
    z-index: 1000;
}


.ui-grid-header-cell-row {
    display: block !important;
}

.ui-grid-header-canvas,
.ui-grid-header-viewport,
.ui-grid-viewport {
    width: 100% !important;
}
