/* Open Sans web font */

@font-face{
	font-family: 'Open Sans';
	src: url('../fonts/opensans-regular-webfont.eot');
	src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
	     /* url('../fonts/opensans-regular-webfont.woff') format('woff'), */
	     /* url('../fonts/opensans-regular-webfont.ttf') format('truetype'), */
	     url('../fonts/opensans-regular-webfont.svg#webfont') format('svg');
}

@font-face{
	font-family: 'Open Sans';
	font-weight: 600;
	src: url('../fonts/opensans-semibold-webfont.eot');
	src: url('../fonts/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/opensans-semibold-webfont.woff') format('woff'),
	     url('../fonts/opensans-semibold-webfont.ttf') format('truetype'),
	     url('../fonts/opensans-semibold-webfont.svg#webfont') format('svg');
}

@font-face{
	font-family: 'Open Sans';
	font-weight: bold;
	src: url('../fonts/opensans-bold-webfont.eot');
	src: url('../fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
	     /* url('../fonts/opensans-bold-webfont.woff') format('woff'), */
	     url('../fonts/opensans-bold-webfont.ttf') format('truetype'),
	     url('../fonts/opensans-bold-webfont.svg#webfont') format('svg');
}

@font-face{
	font-family: 'Open Sans';
	font-style: italic;
	src: url('../fonts/opensans-italic-webfont.eot');
	src: url('../fonts/opensans-italic-webfont.eot?#iefix') format('embedded-opentype'),
	     /* url('../fonts/opensans-italic-webfont.woff') format('woff'), */
	     url('../fonts/opensans-italic-webfont.ttf') format('truetype'),
	     url('../fonts/opensans-italic-webfont.svg#webfont') format('svg');
}
body {
    margin-left: 20px;
    margin-right: 20px;
    background: #f2f2f2;
}

#patientDataInfo_wrapper {
    overflow: none;
}

#patientInformation {
    overflow-x: auto;
}

button.absoluteCloseButton {
    position: absolute;
    top: 0;
    right: 0;
}

#patientChartSummaryModalBody {
    overflow: auto;
}

.whiteSpaceFix {
    white-space: normal;
}

.fontFixPatient {
    font-size: 18px!important;
}

.nodata {

	top: 90px;
	left: 30px;
	display: block !important;
}

.redtext {
    color: red;
}

#errorClickDisabler {
	opacity:0;width:97%;height:100%;position:absolute;background-color:#FFF;z-index:1;
}

.patientChartsTableClass>tbody>tr>td:not(:first-of-type) {
    padding-left: 5px;
}

.patientChartsTableClass>tbody>tr>td {
    text-align: left;
}

.fixDT {
    text-align: center;
    font-family: openSansSemibold;
    font-size: 13px;
    color: #505050;
}

.table-striped>tbody>tr:nth-of-type(even) {
    background: white;
}

.fixDTodd {
    background: #e7eff6;
}

.openSansSemibold {
    font-family: openSansSemibold;
}

.dataTables_paginate {
    font-family: openSansSemibold;
}

.openSansBold {
    font-family: openSansBold;
}

.even {
    background: white;
}

.openSansRegular {
    font-family: openSansRegular;
}

.medGrey {
    color: #838383;
}

.lightGrey {
    color: #b7b7b7;
}

.backdrop {
    background: #f2f2f2;
}

.fontFixPatientName {
    font-size: 18px;
    vertical-align: middle;
}

.navFontSizerFix {
    font-size: 13px;
}

.centerTextAlign {
    text-align: center;
}

.middle {
	vertical-align: middle !important;
}

.noPadding {
    padding: 0;
}

.paddingTop5px {
    padding-top: 5px;
}

.fixHeightTab {
    padding: 5px 10px;
}

.nav-pills>li>a {
    margin-right: 8px;
    cursor: pointer;
    padding: 5px 10px;
    font-family: openSansSemibold;
    font-size: 14px;
    background: #828282;
    color: white;
    border-radius: 0;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

#navMenu {
	font-size: 1.3em;
	background-color: #fff;
	padding: 3px 3px 2px 3px;
	border-radius: 3px;
	color: #428ebb;
	position: absolute;
	left: 735px;
	top: 1px;
	cursor: pointer;
	border: solid 1px #438ebb;
}

.marginModalHeadingFix {
    margin-left: 15px;
    margin-right: 15px;
}

.marginModalHeadingFixChartSummay {
    margin-left: 0;
}

.nav-pills>li.active>a {
    background: #5dabde;
    color: white;
}

.nav-pills>li>a:focus, .nav-pills>li>a:hover {
    color: white;
    background-color: #828282;
}

.nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: white;
    background-color: #5dabde;
}

.chartSummaryHead {
    margin-top: 10px;
    background: #5dabde;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    font-family: openSansSemibold;
    font-size: 18px;
    color: white;
    padding-left: 5px;
    padding-right: 10px;
}

.darkGrayImp {
    color: #505050!important;
}

#logoutSection {
    font-family: openSansRegular;
    font-size: 13px;
    margin-right: 5px;
    float: right;
    margin-bottom: 0;
}

#tabs-11 {
    display: block;
    overflow: auto;
    max-height: 75vh;
}

.siderModal {
    border-bottom: 1px solid #5dabde;
    color: #0c81bb;
    font-family: openSansSemibold;
}

#chairsideModalHeadImg {
    width: 40px;
}

.modalHeadImg {
    margin-top: 5px;
}

.boldFont {
    font-weight: bold;
}

.popover {
    min-width: 400px!important;
    max-width: 100vw;
}

.popover-content {
    padding: 0;
    padding-top: 5px;
    padding-bottom: 5px;
}

.popover-image .popover-content {
	padding: 0;
}

.popover-title {
    padding: 0;
    padding-top: 5px;
    vertical-align: bottom;
}

.fontFix {
    font-size: 15px!important;
}

.noLeftPadding {
    padding-left: 0;
}

.noRightPadding {
    padding-right: 0;
}

.medGrey {
    color: #828282;
}

.lightBlue {
    color: #5dabde;
}

.nomargin {
    margin: 0!important;
}

.zeroMargin {
    margin-bottom: 0;
}

#userIdText {
    text-decoration: none;
    color: #777;
    cursor: text;
}

.dataTables_scrollHeadInner>table {
    margin-bottom: 0;
}

.scrollFacility {
    max-height: 80vh;
    padding-top: 5px;
    overflow-x: auto;
    overflow-y: auto;
}

#facilityAssociatedFinancialInfoTable, #facilityMedicalInfoTable {
    margin-bottom: 0;
}

.fg-toolbar.ui-toolbar.ui-widget-header.ui-helper-clearfix.ui-corner-bl.ui-corner-br {
    display: none;
}

#rCopiaTable>thead>tr>th, #rCopiaTable>tbody>tr>td {
    border-right: 2px solid lightgray;
    padding: 0;
    padding-right: 2px;
    text-align: center;
}

#rCopiaTable {
    border: 1px solid lightgray;
}

#rCopiaDialogRow1 {
    background: #444545;
    color: white;
    padding: 1px;
}

#rCopiaDialogRow1>th {
    padding: 7px;
}

#absenceIndicatorDataInfoTable>thead>tr>th {
    background: #505050;
    color: white;
    text-align: center;
    padding: 3px;
    vertical-align: middle;
    text-align: center;
    font-family: openSansBold;
    font-size: 15px;
}

#absenceIndicatorDataInfoTable>tbody>tr>td {
    color: #505050;
    text-align: left;
    padding: 3px;
    vertical-align: middle;
    text-align: center;
    font-family: openSansSemibold;
    font-size: 13px;
}

#facilityClinicInfoTable>thead>tr>th, #facilityMedicalInfoTable>thead>tr>th, #facilityAssociatedFinancialInfoTable>thead>tr>th {
    background: #505050;
    color: white;
    padding: 3px;
    vertical-align: middle;
    font-family: openSansBold;
    font-size: 15px;
}

#facilityClinicInfoTable>tbody>tr>td, #facilityMedicalInfoTable>tbody>tr>td, #facilityAssociatedFinancialInfoTable>tbody>tr>td {
    color: #505050;
    text-align: left;
    padding: 3px;
    vertical-align: middle;
    font-family: openSansSemibold;
    font-size: 13px;
}

#absenceIndicatorDataInfo>tbody>tr:nth-child(even) {
    background: #CCC;
}

#absenceIndicatorDataInfoTable_filter {
    display: none;
}

#absenceIndicatorDataInfo>tbody>tr:nth-child(odd) {
    background: #FFF;
}

#patientDetailsModalContent {
    border-radius: 15px;
}

#programDetailsTable1, #programDetailsTable2, #patientDetailsTable2, #patientDetailsTable1 {
    margin-bottom: 0!important;
}

.patientChartsTableClass>tbody>tr>td {
    padding: 2px;
    word-wrap: break-word;
}

.patientChartsTableClass>thead>tr>th {
    background: #505050;
    text-align: left;
    white-space: nowrap;
    padding: 5px!important;
    font-family: openSansBold;
    font-size: 15px;
    color: white;
}

.patientChartsTableFix>tbody>tr>td {
    padding: 2px;
    word-wrap: break-word;
}

.patientChartsTableFix>thead>tr>th {
    background: #505050;
    text-align: center;
    white-space: nowrap;
    padding: 5px!important;
    font-family: openSansBold;
    font-size: 15px;
    color: white;
}

#patientDetailsTable1>tbody>tr>td, #patientDetailsTable2>tbody>tr>td, #programDetailsTable1>tbody>tr>td, #programDetailsTable2>tbody>tr>td, #facilityInformationTable1>tbody>tr>td, #facilityInformationTable2>tbody>tr>td, #facilityInformationTable3>tbody>tr>td, #facilityInformationTable4>tbody>tr>td {
    padding: 2px;
}

.resize {
    width: 35px;
}

#programDetailsModalDialog {
    width: 50vw;
    min-width: 300px;
}

#chairsideInformationModalDialog {
    width: 90VW;
    margin-top: 5vh;
    margin-bottom: 5vh;
    height: 90vh;
    overflow: hidden;
}

#patientChartSummaryModalDialog {
    width: 90VW;
    overflow: hidden;
    margin: auto;
    margin-top: 30px;
}

.patientChartHeightFix {
    height: 95vh;
}

#absenceIndicatorModalDialog {
    width: 90VW;
    max-height: 90vh;
    overflow: none;
}

#absenceModalBody {
    overflow: auto;
}

#chairsideModalBody, #facilityModalBody {
    overflow: auto;
}

table#absenceIndicatorDataInfoTable>thead>tr>th, table#absenceIndicatorDataInfoTable>tbody>tr>td {
    border-right: 2px solid #b7b7b7;
}

#facilityInformationModalDialog {
    width: 90VW;
    margin-top: 5vh;
    margin-bottom: 5vh;
    height: 90vh;
    overflow: hidden;
}

#patientDetailsModalDialog {
    width: 50vw;
    min-width: 300px;
}

.modal-header {
    padding-bottom: 0;
    border: 0;
}

.smallGrayText {
    color: #828282;
}

.noTopPadding {
    padding-top: 0!important;
}

.modalBorderRadius {
    border-radius: 15px;
}

.selectPCSButton {
    background: #5dabde;
    color: white;
    font-family: openSansSemibold;
    margin-right: 10px;
}

.cancelPCSButton {
    background: #828282;
    color: white;
    font-family: openSansSemibold;
}

.topPadding {
    padding-top: 10px;
}

.close {
    opacity: 1;
    color: #828282;
    position: absolute;
    top: 14px;
    right: 14px;
}

.underlineText {
    border-bottom: 3px solid #e7eff6;
    margin-left: 50px;
}

.underlinePatientChartsText {
    border-bottom: 3px solid #e7eff6;
}

.underlinePatientChartsTabs {
    border-bottom: 3px solid #828282;
}

.underlineTextFacility {
    border-bottom: 3px solid #e7eff6;
    margin-left: 40px;
}

.underlineTextProgram {
    border-bottom: 3px solid #e7eff6;
}

.underlineAbsenceText {
    border-bottom: 3px solid #e7eff6;
    margin-left: 35px;
}

#absenceModalImg {
    width: 35px;
}

.floatLeft {
    float: left;
}

.close:hover {
    color: #828282;
}

.noborderDisplay {
    border: 0;
    display: inline-block;
    padding: 0;
    padding-top: 10px;
}

.noborder>tbody>tr>td {
    border: 0;
}

.popUpHeader {
    font-size: 22px;
    font-family: openSansSemibold;
    color: #5dabde;
}

.popUpSmallHeader {
    font-size: 18px;
    font-family: openSansSemibold;
    color: #5dabde;
}

.breakRcopiaFix {
    white-space: nowrap;
}

.darkBlueText {
    color: #0c81bb;
}

.bigBlackText {
    font-size: 18px;
    color: black;
}

.bigGrayText {
    color: #828282;
    font-size: 22px;
    font-family: openSansSemibold;
}

.bigGrayTextFixed {
    color: #828282;
    font-size: 18px;
    font-family: openSansSemibold;
}

.smallGreyText {
    color: #505050;
    font-family: openSansRegular;
    font-size: 16px;
}

.smallBoldText {
    color: #828282;
    font-family: openSansBold;
}

.smallBoldDarkText {
    color: #505050;
    font-family: openSansBold;
    font-size: 14px;
}

.darkGray {
    color: #828282;
}

.smallBlackText {
    font-weight: 700;
    color: black;
}

#programDetailsHeader {
    border-bottom: 3px solid #e7eff6;
}

.firstRowDatatable>th {
    background: #505050;
    color: white;
}

.dontDisplay {
    display: none;
}

#patientDetailsWindowImg {
    margin-top: 10px;
}

#facilityClinicInfoTable_length, #facilityClinicInfoTable_filter, #facilityClinicInfoTable_info, #facilityAssociatedFinancialInfoTable_length, #facilityAssociatedFinancialInfoTable_filter, #facilityAssociatedFinancialInfoTable_info, #facilityMedicalInfoTable_length, #facilityMedicalInfoTable_filter, #facilityMedicalInfoTable_info {
    display: none;
}

table#facilityClinicInfoTable>tbody>tr>td, table#facilityMedicalInfoTable>tbody>tr>td, table#facilityAssociatedFinancialInfoTable>tbody>tr>td {
    padding: 0;
    padding-bottom: 5px;
    padding-left: 5px;
    white-space: nowrap;
}

.dataTables_empty {
    text-align: center!important;
}

table#facilityClinicInfoTable>thead>tr>th, table#facilityMedicalInfoTable>thead>tr>th, table#facilityAssociatedFinancialInfoTable>thead>tr>th {
    text-align: left;
    padding: 0;
    padding-bottom: 5px;
    padding-left: 5px;
    white-space: nowrap;
}

.ui-state-hover .ui-icon, .ui-state-focus .ui-icon, .ui-button:hover .ui-icon, .ui-button:focus .ui-icon, .ui-state-default .ui-icon {
    background-image: url("images/ui-icons_5dabde_256x240.png");
}

.modalRowsFix {
    border-radius: 0!important;
    border: none!important;
    background: none!important;
}

.noTableInternalPadding>tbody>tr>td {
    padding: 2px;
}

.modalHeadings {
    color: #0c81bb;
    font-family: openSansSemibold;
    font-size: 16px;
}

.lightUnderline {
    padding-top: 10px; color:#0c81bb;
    border-bottom: 1px solid #5dabde;
}

table.display td.suggestions {
    text-decoration: underline;
    color: #0c81bb!important;
    cursor: pointer;
}

span.suggestions {
    text-decoration: underline;
    color: #0c81bb!important;
    cursor: pointer;
}

#modalRow {
    margin-right: 0;
    background: #f4f4f4;
    border-radius: 8px;
    border: 1px solid gray;
}

.modalRows {
    margin-right: 0;
    background: #f4f4f4;
    border-radius: 10px;
    border: 1px solid #828282;
    border-top-left-radius: 0;
    margin-bottom: 15px;
    padding-top: 13px;
    padding-bottom: 13px;
}

.cursor {
    cursor: pointer;
}

.DataTables_sort_wrapper {
    display: inline-flex;
}

#auditTable>tbody>tr>td {
    text-align: center;
    padding: 1px;
    vertical-align: middle;
    text-align: center;
    font-family: openSansSemibold;
    font-size: 13px;
    color: #505050;
}

#auditTable>thead>tr>th {
    padding: 5px!important;
    font-family: openSansBold;
    font-size: 15px;
}

.chartSummaryImgFix {
    margin-top: -2px;
}

.chartMarginFix {
    margin-left: 30px;
}

.patientChartsDataTables>thead>tr>th {
    padding: 5px!important;
    font-family: openSansBold;
    font-size: 15px;
    text-align: left;
}

.patientChartsDataTables>tbody>tr>td {
    text-align: left;
    padding: 1px;
    vertical-align: middle;
    font-family: openSansSemibold;
    font-size: 13px;
    color: #505050;
}

#closeModal {
    font-size: 30px;
    padding-right: 10px;
}

a.ui-button {
    color: white;
}

#patientDataInfo_info {
    display: none;
}

#patientDataInfo {
    margin-bottom: 0;
}

#patientDataInfo>tbody>tr>td {
    text-align: center;
    padding: 3px;
    vertical-align: middle;
    text-align: center;
    font-family: openSansSemibold;
    font-size: 13px;
    white-space: nowrap;
    overflow: hidden;
    max-width: 10em;
    text-overflow: ellipsis;
    color: #505050;
}

#patientDataInfo>thead>tr>th {
    text-align: center;
    white-space: nowrap;
    padding: 5px!important;
    font-family: openSansBold;
    font-size: 15px;
}

.search_initDatatable>th {
    padding: 2px;
    background: #747474;
}

.modalSideHead {
    color: #5dabde;
    font-size: 20px;
    padding: 5px 5px 0 5px;
}

.search_init {
    width: 100%;
    color: #b7b7b7;
    font-family: openSansRegular;
    font-size: 13px;
    text-align: center;
    border-radius: 8px!important;
}

#closeButton {
    float: right;
}

.firstModalRow {
    border-bottom: 3px solid #e7eff6;
}

#tableWrapRow {
    margin: 5px 5px 5px 0;
}

#modalDialog {
    width: 80vw;
    padding-top: 10px;
    padding-bottom: 10px;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background: #e7eff6;
}

.modal.fade {
    -webkit-transition: opacity .2s linear, none;
    -moz-transition: opacity .2s linear, none;
    -ms-transition: opacity .2s linear, none;
    -o-transition: opacity .2s linear, none;
    transition: opacity .2s linear, none;
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
}

#alertModal {
    padding-top: 35vh;
}

.warning {
    font-family: openSansSemiBold;
    color: #0c81bb;
}

#alertMessage {
    font-family: openSansRegular;
    color: #828282;
}

.warningText {
    color: red;
}

.row {
    margin-left: 5px;
}

.chartSummaryRowFix {
    margin-left: 0;
    margin-right: 5px;
}

.rowMarginFix {
    margin-left: 0;
}

images:hover {
    cursor: disabled;
}

.images:hover {
    cursor: disabled;
}

.image {
    position: relative;
    float: left;
    margin-left: 0;
    margin-bottom: 5px;
}

.imageTemplate {
    position: relative;
    margin-left: 0;
    margin-bottom: 5px;
}

.captionDisabledForLong {
    font-family: openSansSemibold;
    color: #b7b7b7;
    font-size: 14px;
    position: absolute;
    cursor: not-allowed;
    text-align: center;
    top: 25%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-top: -5%;
}

.captionDisabled {
    font-family: openSansSemibold;
    color: #b7b7b7;
    font-size: 14px;
    position: absolute;
    cursor: not-allowed;
    text-align: center;
    top: 32%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.captionEnabled {
    font-family: openSansSemibold;
    color: white;
    font-size: 14px;
    position: absolute;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    top: 32%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.captionEnabledForLong {
    font-family: openSansSemibold;
    color: white;
    font-size: 14px;
    position: absolute;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    top: 25%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-top: -5%;
}

.captionEnabledForLongChairside {
    font-family: openSansSemibold;
    color: white;
    font-size: 9px;
    font-size: 10px;
    line-height: 1.1;
    position: absolute;
    text-align: center;
    vertical-align: middle;
    top: 2px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-top: -5%;
    white-space: normal;
    width: 70px;
    padding-right: 5px;
    margin-left: 4.5px;
}

.captionSelected {
    font-family: openSansSemibold;
    color: white;
    font-size: 14px;
    position: absolute;
    top: 15px;
    left: 50px;
    cursor: pointer;
}

.captionspacer {
    padding: 0 5px;
}

#wrappy {
    overflow-x: auto!important;
    overflow-y: hidden;
    -ms-overflow-x: auto!important;
    -ms-overflow-y: hidden;
}

#allRow {
    margin-left: 5px;
    margin-right: 5px;
    overflow-x: auto;
    overflow-y: hidden!important;
    -ms-overflow-x: auto;
    -ms-overflow-y: hidden!important;
    background-color: #f8f8f8;
    -moz-box-shadow: inset 0 0 10px gray!important;
    -webkit-box-shadow: inset 0 0 10px gray!important;
    box-shadow: inset 0 0 10px gray!important;
    padding-top: 2px;
    padding-right: 5px;
    padding-bottom: 2px;
    border-radius: 8px;
}

@media(min-width :769px) {
    #allRow {
        margin: 5px;
        display: -webkit-inline-box;
        overflow-x: auto;
        overflow-y: hidden;
        -ms-overflow-x: auto;
        -ms-overflow-y: hidden;
        position: absolute;
        top: 25px;
        right: 0;
        -moz-box-shadow: inset 0 0 10px gray!important;
        -webkit-box-shadow: inset 0 0 10px gray!important;
        box-shadow: inset 0 0 10px gray!important;
        padding-top: 2px;
        padding-right: 5px;
        padding-bottom: 2px;
        border-radius: 8px;
    }
    #logoImg {
        padding-left: 20px;
    }
}

@media(max-width :769px) {
    #patientChartSummaryModalBody {
        height: 70vh;
        overflow: auto;
    }
    #pdTreatmentModalDialog, #chairsideInformationModalDialog, #modalDialog, #absenceIndicatorModalDialog, #facilityInformationModalDialog, #programDetailsModalDialog {
        margin: auto;
        margin-top: 5vh;
    }
    #programDetailsModalDialog {
        margin: auto;
        margin-top: 10vh;
        width: 80vw;
    }
    #patientDetailsModalDialog {
        margin: auto;
        width: 97vw;
        margin-top: 10vh;
    }
    #programDetailsTable1 {
        margin-bottom: 0;
    }
}

.paddingTop {
    padding-top: 10px;
}

.paddingLeft {
    padding-left: 10px;
}

.paddingLR15 {
    padding-left: 15px;
    padding-right: 15px;
}

.paddingLeftChild {
    padding-left: 30px;
}

.paddingBottom {
    padding-bottom: 10px;
}

input.selectPCSButton:hover, input.selectPCSButton:focus, input.selectPCSButton:active {
    background: #5dabde;
    color: white;
    font-family: openSansSemibold;
}

input.cancelPCSButton:hover, input.cancelPCSButton:active, input.cancelPCSButton:focus {
    background: #828282;
    color: white;
    font-family: openSansSemibold;
}

.closeSelectPCS {
    position: absolute;
    top: 5px;
    right: 5px;
}

.selectPCSTable {
    text-align: left;
    margin: auto;
}

.spinner {
    position: fixed;
    top: 50%;
    margin-left: -50px;
    margin-top: -50px;
    text-align: center;
    z-index: 1234;
    overflow: auto;
    width: 100px;
    height: 100px;
    overflow: visible;
}

.closePdModal {
    font-size: 30px;
    padding-right: 10px;
}

.pdModalWidth {
    width: 80%;
}

.pdModalHeight {
    height: 75vh;
    overflow: auto;
}

.firstRowDatatable>th {
    font-family: openSansRegular;
    text-align: left;
}

#ccpdpdExchangeTable>tbody>tr>td {
    font-family: openSansRegular;
}

#capdpdExchangeTable>tbody>tr>td {
    font-family: openSansRegular;
}

.widthFix {
    width: 50%;
    text-align: left;
}

.widthFix2 {
    width: 25%;
    text-align: left;
}

#auditTable_length {
    font-family: openSansSemibold;
}

input[type=text]::-ms-clear {
    display: none;
    width: 0;
    height: 0;
}

input[type=text]::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
}

input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-results-button, input[type="search"]::-webkit-search-results-decoration {
    display: none;
}
/* import open sans font */

html {
  position: relative;
  min-height: 100%; }

body {
  font-family: "Open Sans", Arial;
  font-style: normal;
  font-weight: 400;
  color: #333333;
  font-size: 13px;
  /*font-size: 1em;*/ }

/*Default validation icons off in IE11*/
input::-ms-clear, input::-ms-reveal {
  display: none; }

/*******************************
	Used Fonts in application
/*******************************/

.font-light {
  font-style: normal;
  font-weight: 400; }

.bold, .font-bold, strong {
    font-style: normal;
    font-weight: 700; }

/*.numeric-text {font-family:Arial;}*/
/*******************************
	Used Fonts in application
/******************************/

/*******************************
	Global CSS Start
/*******************************/

/*COLORS*/
.bg-color--brand-blue {background-color:#005595 !important;}
.bg-color--navy {background-color:#002D62 !important;}
.bg-color--blue-lagoon {background-color:#089E9A !important;}
.bg-color--thrive-green {background-color:#8BC53F !important;}
.bg-color--turquoise {background-color:#26BEC9 !important;}
.bg-color--gray {background-color:#A8BDCD !important;}
.bg-color--background-blue {background-color:#BBEBEF !important;}
.bg-color--background-gray {background-color:#F2F2F2 !important;}
.bg-color--white {background-color:#fff !important;}
.color--brand-blue {color:#005595 !important;}
.color--navy {color:#002D62 !important;}
.color--blue-lagoon {color:#089E9A !important;}
.color--thrive-green {color:#8BC53F !important;}
.color--turquoise {color:#26BEC9 !important;}
.color--gray {color:#A8BDCD !important;}
.color--background-blue {color:#BBEBEF !important;}
.color--background-gray {color:#F2F2F2 !important;}
.color--white {color:#fff !important;}
/*COLORS*/
/*HELPER CLASSES*/
.d-inline-block {display:inline-block;}
.relative-parent {position: relative;}

.padding-top-none {padding-top:0 !important;}
.padding-bottom-none {padding-bottom:0 !important;}
.padding-left-none {padding-left:0 !important;}
.padding-right-none {padding-right:0 !important;}

.margin-top-none {margin-top:0 !important;}
.margin-bottom-none {margin-bottom:0 !important;}
.margin-left-none {margin-left:0 !important;}
.margin-right-none {margin-right:0 !important;}
/*HELPER CLASSES*/
body {
    margin-left: 0;
    font-family: 'Open Sans', Arial, sans-serif;
    overflow-x: hidden;
    font-size: 16px;
}

h1 {
    font-size: 24px;
    color: rgb(93, 171, 222);
    font-style: normal;
    line-height: 28.8px;
}

header {
    position: relative;
}

nav {
    margin-bottom: 0px !important;
    margin-left: -1px;
    margin-right: -20px;
    margin-top: -1px;
    min-height: 70px;
    height: 69px;
    box-shadow: 0px 2px 5px #777;
    z-index: 999;
}

.navbar-brand {
    display: inline-table;
    padding: 0px;
}

.navbar > .container-fluid .navbar-brand {
    margin-left:0;
}

a.navbar-brand>img {
    display: inline-block;
}

nav #logoutSection {
    float: right;
    margin: 0px;
    margin-top: 5px;
}

.main-container .nav-tabs {
    margin-top: 30px;
    border-bottom: 6px solid #438EBB;
    padding-left: 25px;
    position: relative;
    left: -29px;
    border-radius: 6px 6px 0 0;
    width: 120%;
}

.nav-button-container {
    background: #f0f1f1;
    border-radius: 7px 0 0px 7px;
    box-shadow: inset 5px 9px 8px -4px #bdbebe, inset 6px -8px 11px -6px #bdbebe;
    padding: 8px 30px 8px 8px;
    position: absolute;
    right: -20px;
    top: 40px;
    z-index: 999;
}

.nav-tabs>li:first-child>a {
    border-radius: 4px 0 0 0;
}

.nav-tabs>li:last-child>a {
    border-radius: 0 4px 0 0;
}

.nav-tabs>li>a {
    font-weight: bold;
    margin-left: -1px;
    margin-right: 0;
    border-radius: 0;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-color: #ccc;
    padding: 5px 20px;
    border-bottom: 0;
	font-size:15px;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    color: #fff;
    background-color: #438EBB;
}

body>.container-fluid {
    padding-left: 0;
}

body>.container-fluid>.row {
    margin-left: 0;
}
.dropdown-container {
    margin-top:8px;
    padding-right:46px;
}
.dropdown {
    margin-right: 1%;
}

.dropdown .caret {
    position: absolute;
    right: 10px;
    top: 13px;
    color: #a7a9ac;
    border-top: 6px dashed;
    border-top: 6px solid\9;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
}

.dropdown .dropdown-menu {
    padding: 0;
    border-radius: 5px 5px 5px 5px;
    top: 32px;
    border-width: 1px 1px 1px 1px;
    border-color: #7FB43B;
}

.dropdown-menu>li>a,.dropdown-menu>li>a:focus {
    font-weight: bold;
    color: #6d6e71;
    border-bottom: 2px solid #d1d2d4 !important;
}

.dropdown-menu>li:last-child>a {
    border-bottom: none;
}

.dropdown-menu>li>a:hover,.dropdown-menu>.active>a {
    color: #7FB43B !important;
	background-color:#f5f5f5 !important;
}

.sidebar {
    min-height:100vh;
	width:20px;
    position: relative;
    z-index: 98;
    padding-left: 0;
    background-color: #F2F2F2;
    overflow: hidden;
    box-shadow: 6px 1px 5px #ccc;
	transition: width .4s ease-in-out;
}

.sidebar-slider {
    background: rgb(127, 180, 59);
    min-height: 100%;
    width: 20px;
    position: absolute;
    right: 0;
    border-right: 2px solid #fff;
	cursor:pointer;
}

.sidebar-slider[disabled] {
	opacity:1;
	cursor:default;
}
.sidebar-slider[disabled] .grabbar-lines {
	opacity:.4;
	cursor:default;
}


/*width changed to 300px from 239 px*/

.sidebar.open {
    width: 265px;
}

.sidebar.tasklist.open {
    width: 100%;
}

#TaskList {
    display: none;
}

.sidebar .sidebar-slider-title {
    margin: 0;
    color: #fff;
    white-space: nowrap;
    transform: rotate(270deg);
    position: absolute;
    top: 50px;
    right: -20px;
}

.sidebar>.sidebar-slider>a {
    position: absolute;
    top: 330px;
    right: -72px;
}

.sidebar .grabbar-lines {
    background-image: url('../images/grabbar_lines.png');
    background-repeat: no-repeat;
    background-size: 11px 46px;
    padding: 46px;
}

.sidebar .sidebar-body {
    color: rgb(109, 110, 113);
	width:250px;
}

select.minimal {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 14px;
    border: 2px solid #fff;
    border-radius: 0;
    background-image: linear-gradient(45deg, transparent 50%, rgb(255, 255, 255) 50%), linear-gradient(135deg, rgb(255, 255, 255) 50%, transparent 50%);
    background-position: calc(100% - 20px) calc(1em + 0px), calc(100% - 15px) calc(1em + 0px), calc(100% - 2.5em) 0.5em;
    background-size: 5px 5px, 5px 5px, 1px 1.5em;
    background-repeat: no-repeat;
    background-color: #fff;
    color: #fff;
    width: 100%;
    padding: 8px 20px;
    line-height: 17px;
    box-shadow: 2px 2px 5px #ccc;
}

select.minimal.small {
    padding: 2px 20px;
    color: rgb(67, 142, 187);
    box-shadow: none;
    border-radius: 5px;
}

button.btn-radio, button.btn-radio-gray  {
	border: 0;
    border-radius: 10px;
	padding: 5px 10px;
	outline:0 !important;
	min-height: 50px;
    min-width: 76px;
}
button.btn-radio-gray {
	background-color:#6d6e71;
}
button.btn.btn-grey {
    background-color: rgb(109, 110, 113);
}

button.btn.btn-grey:hover {
    background-color:#C3C3C3;
}

button.btn.btn-grey.btn-active, .btn-success.btn-radio:focus {
    background-color: rgb(127, 180, 59);
}

div.btn .badge {
	background-color: #FFF;
	color:#00639e;
	padding: 2px 9px;
	border:solid 1px #00639e;
	margin:2px 0;
}

.sidebar .sidebar-body select.minimal {
    margin-bottom: 20px;
    margin-left: -2px;
}

.sidebar .sidebar-body>.sidebar-body--section:nth-child(2) select {
    width: 155px;
    display: inline-block;
}

.sidebar .sidebar-body input,
.sidebar .sidebar-body select {
    border: 2px solid #fff;
    background-color: #438ebb;
    color: #fff;
    font-weight: bold;
    padding: 8px 3px 7px 6px;
    border-radius: 0px;
}

.sidebar .sidebar-body .ui-datepicker-trigger {
    display: none;
    position: absolute;
    right: 70px;
    top: 4px;
}

.sidebar .sidebar-body select#LastPatientStatus {
    font-size: 11px;
    margin: 0;
    background-position: calc(100% - 20px) calc(1em + -3px), calc(100% - 15px) calc(1em + -3px), calc(100% - 2.5em) 0.5em;
}

.sidebar .sidebar-body select[disabled] {
    background-color: transparent;
    border: 0;
    color: #333;
    font-weight: bold;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    margin-bottom: 0;
    box-shadow: none;
    background-image: none;
    font-size: 11px;
}

.sidebar .sidebar-body input[readonly] {
    color: #333;
    border: 0;
    background: none;
    box-shadow: none;
}

.sidebar .sidebar-body>.sidebar-body--section {
    padding: 10px 25px 10px 7px;
    font-size: 11px;
}

.sidebar .sidebar-body>.sidebar-body--section:nth-child(1) {
    box-shadow: 1px 0 10px #000;
}

.sidebar .sidebar-body>.sidebar-body--section:nth-child(2) button.edit-button {
    background-image: url('../images/pencil_icon.png');
    background-repeat: no-repeat;
    background-color: #438EBB;
    border: 2px solid #fff;
    padding: 16px 15px;
    background-position: 6px 5px;
    display: inline-block;
    position: absolute;
    margin-left: 6px;
    box-shadow: 2px 2px 5px #ccc;
}

.sidebar .sidebar-body>.sidebar-body--section:nth-child(2) button.edit-button.editing {
    background-color: #7fb43b;
    background-image: url('../images/checkmark.png');
    background-position: 6px 7px;
}

.sidebar .sidebar-body>.sidebar-body--section:nth-child(2) hr {
    border-color: #fff;
}

.sidebar .sidebar-body>.sidebar-body--section  p.text-indent {
    padding-left: 5px;
}

.sidebar .sidebar-body>.sidebar-body--section .dropdown-toggle {
    background: #fff;
    border: 1px solid rgb(139, 197, 65);
    border-left: 0;
}

.sidebar .sidebar-body>.sidebar-body--section #IntervalNextDueDateInputGroup {
    width: 100px;
}

.sidebar .sidebar-body>.sidebar-body--section #IntervalNextDueDateInputGroup>input {
    font-size: 11px;
}

.sidebar .sidebar-body>.sidebar-body--section .left-position {
    position: absolute;
    left: 110px;
    top: 10px;
    font-size: 11px;
}

.sidebar .sidebar-body>.sidebar-body--section .left-position.readonly {
    left: 26px;
}

.sidebar .sidebar-body>.sidebar-body--section .dropdown-toggle i.fa.fa-caret-down {
    color: #438ebb;
}

.sidebar .sidebar-body>.sidebar-body--section .dropdown-menu {
    min-width: 100px;
    border: 1px solid rgb(139, 197, 65);
}

.sidebar .sidebar-body>.sidebar-body--section .dropdown-menu hr {
    margin: 0 10px;
    border-color: #ccc;
}

.sidebar .sidebar-body>.sidebar-body--section a.dropdown-item {
    border-bottom: 2px solid #ccc;
    margin: 0 10px;
    display: block;
    padding: 1px 10px;
    font-size: 11px;
    font-weight: bold;
    color: #808080;
}

.sidebar .sidebar-body>.sidebar-body--section a.dropdown-item:last-child {
    border-bottom: 0;
}

.sidebar .sidebar-body>.sidebar-body--section a.dropdown-item:hover {
    background: rgb(139, 197, 65);
    color: #fff;
    text-decoration: none;
}

.sidebar .sidebar-body hr {
    margin: 9px 0;
    border-color: rgb(189, 190, 192);
}
.sidebar .grabbar-lines {
    background-size: 10px 46px;
    padding: 43px;
}
.sidebar .sidebar-body>.sidebar-body--section {
    padding: 10px 15px 10px 12px;
}

.sidebar .sidebar-body-scroller {
    border-radius:5px;
    background-color:#FFF;
    border:solid 1px #ccc;
    max-height:100px;
    overflow-y:auto;
    padding:4px 6px;
}

.sidebar .sidebarLabel {
    border: 2px solid #fff;
    background-color: #438ebb;
    color: #fff;
    font-weight: bold;
    font-size:14px;
    padding: 8px 3px 7px 6px;
    border-radius: 0px;
    box-shadow: 2px 2px 5px #ccc;
    margin-bottom:10px;
    margin-left:-2px;
}
.main-container.tasklist-sibling.compacted {
    display: none;
}

.main-container {
	padding-left:10px;
}

.sidebar+.main-container {
    padding-left:0;
}

.main-container .top-bar {
    width: 110%;
    margin-left: -20px;
    z-index: 99;
    padding: 10px;
}
.main-container .top-bar-full {
	width:112%;
}

.select-container {
    padding: 0 15px !important;
    display: inline-block;
    float: none;
    width: 181.312px;
    margin-right: 10px;
}

#siteSelector {
    width: 181.312px;
}

#clinicSelector {
    width: 286.969px;
}

.super-width {
    width: 99%;
    margin-left: -15px
}


/*.super-width{width:104%;position:relative;left:-60px;}*/


/*#CIAPOCProgress {display: none;}*/





.patientTable {
    margin-top: 10px;
    font-size: 16px;
}


/*.patientTable .expandedInfo {display: none;}*/

.patientTable {
    border-style: solid;
    border-color: #ccc;
    border-width: 2px 0 2px 0;
}

.patientTable>thead>tr:nth-child(1) {
    border-bottom: 1px solid #ccc;
}

.patientTable>thead>tr:nth-child(1)>th:nth-child(1),
.patientTable>tbody>tr>td:nth-child(1) {
    padding: 8px;
    text-align: center;
}

.patientTable .name {
    font-weight: 700;
    color: rgb(67, 142, 187);
    font-size: 1.25em;
}

.patientTable th {
    vertical-align: middle;
    border: 2px solid #ccc;
    border-top: 0;
    border-bottom: 0;
    position: relative;
}

.patientTable th>.sort {
    position: absolute;
    top: -3px;
    right: 5px;
}

.patientTable th>.sort>a {
    color: #ccc;
    display: block;
    margin: 0;
    padding: 0;
    font-size: 1.35em;
}

.patientTable th>.sort>a.active {
    color: #5dabde;
}

.patientTable th>.sort>a>.fa-caret-up {
    vertical-align: bottom;
    position: relative;
    top: 5px;
}

.patientTable th>.sort>a>.fa-caret-down {
    vertical-align: top;
}

.patientTable td {
    border: 2px solid #ccc;
    border-top: 0;
    border-bottom: 0;
}

.patientTable input {
    width: 100%;
    color: #333;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 2px 5px;
    background-color: #f3f3f4;
    font-weight: normal;
}

.patientTable th>a>.fa-caret-right,
.patientTable td>a>.fa-caret-right,
.patientTable th>a>.fa-caret-down,
.patientTable td>a>.fa-caret-down {
    color: #808080;
    font-size: 2em;
}

.patientTable th>a>.fa-caret-right,
.patientTable th>a>.fa-caret-down {
    color: #fff;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #c0c2c4;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #c0c2c4;
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: #c0c2c4;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: #c0c2c4;
}

.popoverHover,
.popoverHover>i {
    display: block;
}

.popoverHover>i {
    text-align: center;
}

.popover {
    min-width: 100px !important;
}

.popoverBody {
    margin: 0 auto;
    padding: 0 5px;
    text-align: center;
}

#logoutSection {
    font-family: inherit !important;
}

#logoutSection>a {
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid;
    color: #77797c !important;
}

#logoutSection>a:last-child {
    border: 0;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background: #fff;
}

.table-striped>tbody>tr:nth-of-type(even) {
    background: #e7eff6;
}

.patientTable>thead>tr>th:nth-child(3),
.patientTable>thead>tr>th:nth-child(3)>input,
.patientTable>thead>tr>th:nth-child(5),
.patientTable>thead>tr>th:nth-child(5)>input,
.patientTable>thead>tr>th:nth-child(6),
.patientTable>thead>tr>th:nth-child(6)>input,
.patientTable>tbody>tr>td:nth-child(3),
.patientTable>tbody>tr>td:nth-child(5),
.patientTable>tbody>tr>td:nth-child(6) {
    max-width: 120px;
    text-align: left;
    margin: 0 auto;
}

.patientTable>tbody>tr>td:nth-child(8) {
    text-align: center;
}


/*.patientTable>thead>tr>th:nth-child(3)>input, .patientTable>thead>tr>th:nth-child(5)>input, .patientTable>thead>tr>th:nth-child(6)>input {width:80%;}*/

.patientTable>tbody>tr>td {
    position: relative;
}

.patientTable .overdue {
    cursor: pointer;
    position: absolute;
    top: 8px;
    right: 10px;
}

.patientTable .fa-exclamation-circle {
    font-size: 13px;
}

.patientTable .table-progress-icon {
    background-repeat: no-repeat;
    background-size: 12px;
    background-position: center;
    display: block;
    padding: 12px;
}

.patientTable .table-progress-icon--half {
    background-image: url('../images/incomplete.png');
}

.patientTable .table-progress-icon--full {
    background-image: url('../images/complete.png');
}

.patientTable .line-height-full {
    padding-bottom: 0;
    line-height: 20px;
}

#CIAPOCProgress td {
    text-align: center;
}

#CIAPOCProgress .fa-exclamation-circle {
    margin: 6px 0;
}

#ProblemModalSelect {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #7FB43B;
    border-radius: 3px;
    padding: 0 5px;
    width: 160px;
    margin-right: 10px;
    background: transparent url('../images/arrowdown.png') no-repeat center right 5px;
    display: inline-block;
}

#NewProblemSearchForm>input {
    margin: 0;
    padding: 0 5px;
    border: 1px solid #7FB43B;
    border-radius: 3px;
    width: 180px;
}

#ProblemModalSearchBtn {
    background: transparent;
    padding: 0px;
    position: relative;
    right: 26px;
    top: -2px;
}

.modal-header h4 {
    border-bottom: 1px solid #7FB43B;
    margin-bottom: 5px;
}

.modal-footer .btn {
    color: #fff;
    border-radius: 0;
    box-shadow: 1px 1px 2px #818284;
    border: 2px solid #fff;
    min-width: 100px;
}

.modal-footer .btn-default {
    background-color: #818284;
}

.modal-footer {
        margin: 0 25px 0 5px;
        padding-top:0;
}

.modal-body .uib-day button[disabled], .modal-header .uib-day button[disabled]  {
    background: #ececec !important;
    color: #828282 !important;
    opacity: .5 !important;
    border-color:#ececec !important;
}

.modal-body .row {
    margin-right: -5px;
    margin-left: 5px !important;
}

.descriptionContainer {
    margin-bottom: 30px;
}

.list-div {
    border: inset 2px;
    border-radius: 10px;
    height: 285px;
    width: 390px;
    overflow-y: scroll;
    margin-top: 10px;
}

.list-div ul {
    list-style: none;
    padding: 5px 0;
}

.list-div>ul>li {
    border: 2px solid #fff;
    background: #e7e7e8;
    color: #767678;
    box-shadow: 2px 2px 5px #b2afaf;
    margin: 5px 50px 5px 10px;
    padding: 0 5px;
    cursor: pointer;
    min-width: 352px;
}

.list-div>ul>li>p {
    display: inline;
    margin: 0;
}

.rhombus {
    position: relative;
    margin-right: 3px;
}

.rhombus.rhombus-blue {
    color: #a7c7e4;
}

.rhombus.rhombus-purple {
    color: #d6b3d0;
}

.rhombus.rhombus-yellow {
    color: #edd48c;
}

.rhombus.rhombus-orange {
    color: #f1bd83;
}

.rhombus>.fa-caret-up {
    position: absolute;
    top: -1px;
    left: 0px;
}

.rhombus>.fa-caret-down {
    position: relative;
    top: 3px;
}

#RightList {
    border: 3px solid #5eabdf;
    box-shadow: 1px 1px 1px #b2afaf;
}

#RightList>h4 {
    margin-left: 10px;
}

#RightList>ul>li {
    background-color: #5eabdf;
    border: 2px solid #fff;
    color: #fff;
}

#RightList .rhombus-blue {
    color: rgba(128, 208, 216, 1);
}

.dragListItem {
    font-size: 60px;
    margin: 0 5px;
    position: relative;
    top: -120px;
}

.list-div>ul>li.selected {
    color: #fff;
    background-color: #808080;
}

.list-div>ul>li.unavailable {
    color: #b4b5b9;
}

.tooltip.in {
    opacity: .96;
    border-radius: 0;
}

.tooltip-arrow {
    display: none;
}

.tooltip-inner {
    background-color: #fff;
    border: 1px solid #f4f4f4;
    box-shadow: 1px 2px 10px #ccc;
    color: #438ebb;
    font-size: 14px;
    text-align: left;
}

#poc>.row:first-child {
    border-bottom: 1px solid #ccc;
    margin-bottom: 30px;
}

#poc>.row:first-child>.col-md-6:last-child {
    margin-top: 10px;
}

#poc h1.patient-name>span {
    font-size: 22px;
}

#poc #PlanOfCareList {
    margin-top: 20px;
    padding-left: 2px;
}

#poc #PlanOfCareList>strong {
    color: #438EBB;
}


/*HELPER CLASSES*/

.bg-color--darker-grey {
    background-color: #505052 !important;
}

.bg-color--dark-grey {
    background-color: #77797c !important;
}

.bg-color--off-blue {
    background-color: rgb(67, 142, 187);
}

.bg-color--white {
    background-color: #fff !important;
}

.btn-success {
    background-color: #7fb43b;
    border: 2px solid #fff;
    border-radius: 0;
    font-weight:bold;
}

.color--light-blue {
    color: #5eabdf !important;
}

.color--red {
    color: #f26131 !important;
}

.color--orange {
    color: #f7931e !important;
}

.color--white {
    color: #fff;
}

.color--green {
    color: #7FB43B;
}

.inline-block {
    display: inline-block !important;
}

.margin-bottom-none {
    margin-bottom: 0;
}

.relative-parent {
    position: relative;
}

.padding-left-none {
    padding-left: 0;
}

.padding-top-none {
    padding-top: 0 !important;
}

.text-no-wrap {
    white-space: nowrap;
}

.text-center {
    text-align: center !important;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}


/*ICONS*/

.refresh-button {
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 1px 4px;
    vertical-align: middle;
}

.refresh-button>i {
    top: 2px;
}

.icon--running {
    background-image: url('../images/UrgentStart_icon.png');
    background-repeat: no-repeat;
    background-size: 15px;
    padding: 7px;
}

.popoverBody>.icon--running {
    left: 0;
    right: auto;
    top: 3px;
    position: relative;
    display: inline-block;
    width: 15px;
    padding: 0;
    height: 15px;
}

@media (min-width: 768px) {
    .modal-dialog.modal-sm {
        width: 900px;
    }
}

@media (min-width: 768px) {
    .modal-dialog.modal-xs {
        width: 750px;
    }
}


/*Plan of Care CSS*/

.text-no-wrap {
    white-space: nowrap;
}

.tooltipMrnPopUp {
    opacity: .96;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #f4f4f4;
    box-shadow: 1px 2px 10px #ccc;
    color: #438ebb;
    font-size: 14px;
    text-align: left;
    display: block;
    position: absolute;
    z-index: 1000;
    padding: 10px 10px;
    max-width: 150px;
    min-width: 100px;
    min-height: 40px;
    max-height: 100px;
    /* border:1px solid red;
    top:-20px;
    left:100px;*/
}

.tooltipPopUp {
    opacity: .96;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #f4f4f4;
    box-shadow: 1px 2px 10px #ccc;
    color: #438ebb;
    font-size: 14px;
    text-align: left;
    display: block;
    position: absolute;
    z-index: 200;
    padding: 10px 10px;
    max-width: 400px;
    min-width: 200px;
    min-height: 80px;
    max-height: 150px;
}

.nav-button-container1 {
    position: absolute;
    right: 0px;
    top: 90px;
    z-index: 99;
}

.sidebar .sidebar-body select#LastPatientStatus {
    font-size: 11px;
    margin: 0;
    background-position: calc(100% - 20px) calc(1em + -3px), calc(100% - 15px) calc(1em + -3px), calc(100% - 2.5em) 0.5em;
}

.sidebar .sidebar-body select[disabled] {
    background-color: transparent;
    border: 0;
    color: #333;
    font-weight: bold;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    margin-bottom: 0;
    box-shadow: none;
    background-image: none;
    font-size: 11px;
}

.sidebar .sidebar-body select.minimal {
    margin-bottom: 20px;
    margin-left: -2px;
}


/* modal dialogs */
hr {border-color:#8bc541;}
.btn {
    border-radius: 0;
    border: 1px solid #fff;
    box-shadow: 2px 2px 5px #ccc;
}

.btn[disabled] {
    /* box-shadow: 2px 2px 5px #ccc; */
}

.btn:hover,
.btn:hover {
    color: #fff;
}

.btn-gray {
    background-color: #818285;
    color: #fff;
    font-weight:bold;
}

h1,
h2,
h3 {
    color: #5dabde;
}

h4,
h5,
h6 {
    color: #438ebb;
    font-weight: 600;
}
.listReset {list-style: none;padding-left:0;}
.form-group .btn-group {width:100%;}
.form-group input[type="checkbox"] {
    display: none;
}
.form-group label {background:transparent;border:0;cursor: pointer;margin-left:10px;}
.form-group .btn-primary.btn-checkbox-default {

    background:rgb(255, 255, 255);
    box-shadow:none;
    font-size: .9em;
    border: 1px solid #6d6e71;
    border-radius:3px !important;
    padding: 0;
    min-height: 21px;
    margin-right: 10px;
}
.form-group input[type="checkbox"] + .btn-group > label span {
    width: 20px;
}

.form-group input[type="checkbox"] + .btn-group > label span:first-child {
    display: none;
}
.form-group input[type="checkbox"] + .btn-group > label span:last-child {
    display: inline-block;
}

.form-group input[type="checkbox"]:checked + .btn-group > label span:first-child {
    display: inline-block;
    background:rgb(93, 171, 222);
    color:#fff;
    padding: 3px 2px 5px 2px;
    top: 0;
}
.form-group input[type="checkbox"]:checked + .btn-group > label span:last-child {
    display: none;
}
.form-group label>p {font-weight:600;}
textarea {
    width: 100%;
    border-radius: 5px;
    padding: 10px;
}

.modal-header {
    padding: 15px 25px 15px 25px;
    border: 0;
}

.modal-body {
    color:#6d6e71;
    padding: 0 25px 0px 15px;
    border: 0;
}

.modal-footer {

    border: 0;
}

.modal-footer>.row {
    border-top: 1px solid #8bc541;
    padding-top: 10px;
}

.modal-header>.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: normal;
    font-size: 35px;
    padding: 3px 12px;
    outline:none;
}

.modal-header>.modal-title {
    border-bottom: 1px solid #8bc541;
}

.modal-body>.row {
    font-size: 13px;
}

.modal-body label,.modal-header label {
    display: block;
    font-weight: normal;
    margin-bottom: 0;
    color: #6d6e71;
}

.modal-body .input-group>div, .modal-header .input-group>div {
    border-radius: 5px;
    width: 143px;
}

.modal-body .dropdown>button, .modal-header .dropdown>button {
    background: #f4f4f4;
    min-width: 143px;
    text-align: left;
    padding: 2px 32px 2px 12px;
    /* box-shadow: inset 0px 0px 5px #ccc; */
    font-weight: 600;
}

.modal-body .dropdown>button.numerical {
    min-width: 100px;
}

.modal-body .dropdown>p, .modal-header .dropdown>p{
    margin-top: 2px;
    margin-left: 7px;
}

.modal-body textarea {
    padding: 3px 12px;
}

.modal-footer .btn {
    min-width: 80px;
}

.colorLightBlue {
    color: #5dabde !important;
}

.colorBlue {
    color: #438ebb !important;
}

.bgColorGray {
    background-color: #f4f4f4;
}

.colorGray {
    color: #ccc !important;
}

.colorGrey {
    color: #6d6e71 !important;
}

.colorRed {
    color: #f26131 !important;
}

.colorGreen {
    color: #7fb43b;
}

.colorWhite {
    color: #fff;
}

.bgColorLightBlue {
    background-color: #5dabde;
}

.bgColorBlue {
    background-color: #438ebb;
}

.bgColorGreen {
    background-color: #7fb43b;
}

.addIntervention>i {
    box-shadow: 1px 1px 5px #ccc;
    margin-right: 2%;
}



.selectedChoice {
    display: inline-block;
}

.selectedChoice>i {
    padding: 7px;
    background-size: contain;
    margin-right: 5px;
}
.btn {
    box-shadow: none;
}

.btn .caret {
    position: absolute;
    right: 10px;
    top: 45%;
}

.btn-grey {
    background-color: #808080;
    color: #fff;
    box-shadow: 2px 2px 5px #ccc;
}

.btn-success {
    background-color: #7fb43b;
    box-shadow: 2px 2px 5px #ccc;
}
.btn-success[disabled] {
    background-color:#7fb43b !important;
}

.btn-success[disabled]:hover {
    border:solid 1px #FFF !important;
}


border: 1px solid #fff;

.btn-grey[disabled] {
    background-color: #808080 !important;
    border:solid 2px #FFF !important;
}
.btn-no-hover:hover {
    background-color:#FFF !important;
    box-shadow:none !important;
}
.btn-no-hover:active,.btn-no-hover:focus  {
    background-color:#FFF !important;
    box-shadow:none !important;
}

.datepickerLabel {
    vertical-align: 16px;
}

.datepickerInput {
    border: 0;
    float:left;
    box-shadow: none;
    background: transparent;
    height: auto;
    padding: 2px 0 2px 12px;
    font-weight: bold;
    min-width: 150px;
    width: 160px;
}

/* .datepickerBox input {width:80% !important;min-width:80%;}
.datepickerBox[readonly] {
	border: solid 1px #f4f4f4 !important;
	outline:none !important;
} */
.datepickerInput:focus, .modal-content input[type="text"]:focus, .modal-content textarea:focus {
    box-shadow: none !important;
    border-color:transparent !important;
    outline:solid 2px #008cfe !important;
}
.modal-content input[type="text"][readonly]:focus {
	outline:none !important;
}
.datepickerInput[readonly],.datepickerInput[readonly]:focus  {
    outline:0;
	opacity:1 !important;
	cursor:not-allowed;
}
.modal-content .btn-group.modal-menu.dropdown button:focus {
    outline:solid 2px #008cfe;
}
.form-control[readonly] {
	background-color:#f4f4f4 !important;
}

 .datepickerBox {
    display:inline-block;
    min-width:200px;
    max-width: 200px;
    background:#f4f4f4;
}
.datepickerButton {
    top: 2px;
    display: inline-block;
    padding:0 !important;
    width:10px !important;
}

.datepickerButton > button {
    background: transparent;
    box-shadow: none;
    min-width: 0 !important;
    padding: 2px 0 0 0 !important;
    margin-left: 10px !important;
    outline: 0 !important;
    border-width: 0 !important;
}

.uib-daypicker {
    outline:0;
}

.uib-datepicker-popup {
	padding:4px;
}
.uib-daypicker td .btn,uib-daypicker td .btn[disabled] {
    padding: 6px 10px !important;
    border:0;
    box-shadow:none !important;
    outline:0 !important;
}

.uib-datepicker span.text-muted {
    color:#000 !important;
}

button.uib-title,button.uib-left, button.uib-right,button.uib-datepicker-current {
    box-shadow:none !important;
    outline:0;
}
button.uib-datepicker-current {
    border: 1px solid #fff;
    box-shadow: 2px 2px 5px #ccc !important;
}
button.uib-datepicker-current:hover {
    border: 1px solid #fff;
    box-shadow: none !important;
    border: 1px solid #438ebb;
}

button.uib-title:hover, button.uib-left:hover, button.uib-right:hover, .uib-day button:hover {
    color:#000;
}
button.uib-clear {
    border: 1px solid #fff;
    background-color:#6d6e71;
}
button.uib-clear:hover {
    background-color:#c3c3c3;
    border-color:#777;
}

.btn-danger:active,.btn-danger:focus  {
    background-color:#565656 !important;
    border-color:#777;
}
.uib-daypicker td button.btn[disabled] span,.uib-daypicker td button.btn[disabled] span.text-muted  {
    color:#808080 !important;
    outline:0;
}

.uib-button-bar .btn {
    font-weight:600 !important;
    box-shadow: 2px 2px 5px #ccc;
}

.uib-button-bar {
	padding: 10px 0px 2px;
}

.uib-months button:hover {
    color:#000;
}
.glyphicon-calendar {
    color: #438ebb;
    font-size: 16px;
}

.borderSolidGray {
    border: 1px solid #ccc;
}

.boxShadowInsetGray {
    /* box-shadow: inset 1px 1px 5px #ccc; */
}

.marginTopNone {
    margin-top: 0;
}

.marginBottomNone {
    margin-bottom: 0;
}
.paddingTopNone {padding-top:0 !important;}
.paddingBottomNone {padding-bottom: 0 !important;}
.paddingRightNone {padding-right:0 !important;}
.paddingLeftNone {padding-left:0 !important;}
.relative-parent {
    position: relative;
}

.fontSemiBold {
    font-weight: 600;
}
.fullWidth {width:100%;}
.inline-block {
    display: inline-block;
}
.viewMenu {
	text-align: left;
    padding: 2px 0;
    border: 0 !important;
    font-size: 14px;
    font-weight: 600;
    margin-top: -3px;
}
.viewMenu .selectedChoice {
	font-weight: 600 !important;
}
.btn.btn-default.viewMenu:focus {
	border-radius: 5px!important;
	border: 0 !important;
	margin-left:0;
	padding-left: 9px!important;
}

.collapsed .event,.collapsed .vascular,.collapsed .pd {
	background-color:#4a86a9;
	color:#FFF;
	border-top:solid 1px #FFF;
	border-bottom: solid 1px #FFF;
	padding:0 4px;
}
.collapsed .vascular {
	background-color:#9d7fac;

}
.collapsed .pd {
	background-color:#28b1b6;
}

.dialogIcon i.fa {
    font-size:55px !important;
    padding: 0px 20px 0 0;
	color: #ff5600 !important;
	width:55px;
	height:55px;
}
.dialogIcon {
    padding:10px;
}

/* keeping minimum width of modal to 700 */
.modal-content{
    min-width: 750px;
}
