/* global screen styles */

/* image preloading for direction of flow popovers */
.medialPopover,.lateralPopover,.antegradePopover,.retrogradePopover{
    background-repeat:no-repeat;
    width:582px;height:378px;padding-left:5px;
}
.medialPopover {
    background-image: url("/images/direction_of_flow_Loop-PinkyPull.jpg");
}
.lateralPopover {
    background-image: url("/images/direction_of_flow_Loop_Thumbpull.jpg");
}
.antegradePopover {
    background-image: url("/images/direction_of_flow_Straight_Antegrade.jpg");
}
.retrogradePopover {
    background-image: url("/images/direction_of_flow_Straight_Retrograde.jpg");
}



/* common screen styles */
.left {text-align:left !important;}
.right {text-align:right !important;}
.center {text-align:center !important;}
.maxwidth {width:100% !important;}
.nopad {padding:0 !important;}
.nomargin {margin:0;}
.nowrap {white-space: nowrap;}
.noshow {display: none;}
.spacer {padding-right:5px;}
.inline {display: inline-block;}
.icon {cursor:pointer;}
:focus {outline:none;}
::-moz-focus-inner {border:0;}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.checkmark {
    width:15px;
    height:15px;
}
.uppercase {
    text-transform: uppercase;
}
.capitalize {
    text-transform: capitalize;
}
.red {
    color:#ef4136;
}
.invalid {
    outline:solid 2px red !important;
}
.grayLink {
    color:#6d6e71 !important;
    font-style: italic;
    font-weight: normal !important;
}
.infoIcon,.infoIconLeft {
    font-size: 1.2em !important;
    color: #7FB43B;
    position: absolute;
    right: 5px;
    top: 5px;
    cursor:pointer;
}
.infoIcon.leftIcons {
    right:auto;
    left:5px;
}
.dropdown-menu.leftIcons li a {
    padding-left:25px;
}
.circleBadge {
    background-color: #ef4136;
    border:solid 1px #FFF;
    color: #FFF;
    font-size:12px;
    font-weight: bold;
    border-radius: 9px;
    text-align: center;
    padding: 0px 4px;
    min-width:18px;
    position: absolute;
    top: -2px;
    right: -2px;
    z-index: 1;
    cursor:pointer;
}
.badge {
    background-color: #ef4136;
    color: #FFF;
    border-radius: 3px;
    text-align: center;
    padding: 1px 4px;
}
.pencilIcon {
    height:100%;
}
.pencilIcon[disabled] {
    background:#ccc;
}
.pencilIcon.disabled {
    background:#ccc;
}
.disabled img.delete {
    opacity:.4 !important;
}
.disabled i.fa-trash {
    color:#FFF !important;
    opacity:.8!important;
}
.padding-top-10 {
    padding-top:10px !important;
}
.padding-top-20 {
    padding-top:20px !important;
}
.padding-bottom-15 {
    padding-bottom:15px !important;
}
.padding-bottom-10 {
    padding-bottom:10px !important;
}
.padding-bottom-20 {
    padding-bottom:20px !important;
}
.blueText {
    color: rgb(67, 142, 187);
}
.grayTxt {
    color:#6d6e71 !important;
}
.modal-content a.disabled:focus {
    outline:none !important;
    background-color:#FFF !important;
    cursor: not-allowed !important;
    text-decoration:none !important;
}
.modal-content a.disabled:hover {
    background-color:#FFF !important;
    cursor: not-allowed !important;
    text-decoration:none !important;
}
.disabled {
    color: #a7a9ac !important;
    cursor: not-allowed !important;
}
.dropdown>button.green-menu-btn {
    background-color:#7fb43b;
    box-shadow: 2px 2px 5px #ccc;
    color:#FFF !important;
    position: relative;
    font-weight:bold;
    min-width: 120px !important;
    text-align: left;
}
.green-menu-btn[disabled],.green-menu-btn:hover[disabled] {
    background-color:#7fb43b !important;
}
.dropdown-menu>li>a {
    padding: 3px 25px 3px 15px;
}

.dropdown-menu>li>a:hover {
    color:#7fb43b !important;
}
.dropdown.open>button.green-menu-btn {
    background-color:#449d44 !important;
}
.right-menu.dropdown-menu {
    left:auto !important;
    right:9px;

}
.clearText {
    position:absolute;
    z-index: 2 !important;
    top: 0px;
    right: 0px;
    font-size: 25px;
    padding: 0 5px !important;
}
a, button {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#logoutSection>a[disabled] {
    color:#afb2b7 !important;
    cursor:not-allowed;
    text-decoration:none;
}
.dropdown>button.green-menu-btn .caret {
    color:#FFF !important;
}
/* modal form controls */
.dropdown .selectedChoice {
    font-weight: bold;
}
.modal-menu.dropdown button {
    min-width:200px;
    padding-left:9px !important;
    border-radius:5px !important;
    border-color:#ccc !important;
}
.modal-menu.dropdown .caret {
    color:#a8a7aa !important;
    margin-top:-3px;
}
.modal-section {
    font-weight: bold;
    font-size: 1.1em;
}
hr.modal-bottom-rule {
    border-top:solid 1px #ccc;
    margin:15px 0 10px 0;
}

.modal-section-blue {
    color:#438ebb;
    font-size:1.1em;
    font-weight:bold;
    }
    label {
        -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    }
label.modal-menu {
    font-weight:600;
    /* text-transform: uppercase; */
    font-size:.95em;
}
label.modal-menu .required {
    color:#ff5700 !important;
    font-size:1.1em;
}
label.modal-menu .required.invisible {
    color:blue;
}
.form-group input[type=checkbox]:checked+.btn-group>label span:first-child {
    padding: 4px 2px 4px 2px;
}
.form-group .btn-primary.btn-checkbox-default {
    height:19px;
}
.modal-menu .dropdown-menu  {
    top: calc(100% - 2px) !important;
    max-width: 280px;
    max-height: 250px;
    overflow-y: auto;
}
.modal-body.accessModal {
    min-height:540px;
}
.modal-body > div {
    margin-bottom:0;
}
.modal-footer {
    min-height:65px;
}
.modal-menu .dropdown-menu li {
    position:relative;
}
.modal-menu .dropdown-menu li>a {
    white-space:normal;
}
.modal-menu .dropdown-menu li>a:hover .infoIcon {
    display:block;
}
.modal-menu.popover-image .popover {

}
.modal-body.editAccess {
    min-height:410px;
}
.modal-body .paper-clip-icon {
    width: 19px;
    height:auto;
    padding-right: 2px;
}
.modal-body .panel-heading {
    background:none;
    margin: 0;
    padding: 0;
}
.modal-body .panel-default, .modal-body .panel-body {
    border:0 !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding:0;
}
.modal-body .panel-body {
    padding-left:15px;
    font-size: .95em;
}
.modal-body .accordion-toggle {
    color: #337ab7;
    font-size: .85em;
}
.btn.btn-default:focus {
    border:solid 1px #5dabde !important;
}
.placeholder {
    color:#969696 !important;
}
.modal-body .btn-group input[type="text"],.modal-header .btn-group input[type="text"] {
    background: #f4f4f4 !important;
    text-align: left;
    padding: 2px 32px 2px 12px;
    /* box-shadow: inset 0px 0px 5px #ccc; */
    font-weight: 600;
    min-width: 200px;
    max-width: 200px;
    padding-left: 8px !important;
    border-radius: 5px !important;
    border-color: #ccc !important;
}
.modal-body .btn-group input[type="text"][disabled],.modal-header .btn-group input[type="text"][disabled] {
    border-color: #f4f4f4 !important;
}
.modal-body button.dropdown-toggle  {
    white-space: normal;
    box-shadow: none !important;
}
.modal-body button.dropdown-toggle[disabled]  {
    border: solid 1px #F4F4F1!important;
    background-color: #F4F4F1!important;
    opacity:.6 !important;
}
.modal-body button.dropdown-toggle[disabled] .caret {
    display:none;
}

.modal-body button.dropdown-toggle.readonly[disabled]  {
    background:#f4f4f4 !important;
    opacity:1 !important;
}
.modal-body[disabled] label {
    opacity:.6;
}
.access-status {
    background:#d3e2eb;
    padding:10px 15px;
    margin:0;
    color:#6d6e71;
    font-size:.85em;
}
.modal-header textarea {
    padding: 4px 10px;
    max-width: 93%;
}
.modal-body .panel-group {
    margin-bottom:10px;
}
.close {outline:none;}
.close[disabled], .close.disabled {
    opacity:0;
    cursor:default;
}
.modal-body .documentation-panel .close {
    font-size: 32px;font-weight: normal;outline:none;top:10px;
}


.modal-body .documentation-panel {
    position: absolute;
    top:0;
    left:auto;
    background: #FFF;
    width:848px;
    height:100%;
    z-index: 4;
    border: solid 1px #ccc;
    padding: 15px;
}

.modal-header .errors-panel {
    position: absolute;
    top:60px;
    width: calc(100% - 50px);
    background: #daecc5;
    z-index: 100;
    border: solid 1px #ccc;
    padding: 20px;
    box-shadow: 2px 2px 5px #ccc;
}
.errors-panel .close {
    font-size: 2.2em;
    font-weight: normal;
    text-shadow: none;
    outline:0;
}
.errors-panel h4 {
    font-size: .9em;
    font-weight: bold;
    color: #77797c;
    border:0;
    line-height: 1.4em;
    padding-right:30px;
}
.errors-panel ul {
    color: #77797c;
    font-size: .9em;
    margin-top: 15px;
    line-height: 1.6em;
    max-height: 300px;
    overflow-y: auto;
    word-break: break-word
}

.modal-content .btn.btn-success:focus {
    box-shadow: none !important;
    border-color:transparent !important;
    outline:solid 2px #005cde !important;
}
.modal-content a {
    padding:4px;
    font-weight:bold;
    font-size:.95em;
}
.modal-content a:focus {
    box-shadow: none !important;
    border-color:transparent !important;
    outline:solid 2px #008cfe !important;
}
.modal-content a.accordion-toggle:focus {
    outline:none !important;
}
.modal-content label.modal-static-field {
    color: #438ebb;
    font-weight:bold;
    font-size:14px;
    padding: 0px 10px;
    border-radius: 5px !important;
    background: #f4f4f4;
    min-width: 143px;
    text-align: left;
    padding: 4px 32px 4px 12px;
    min-width: 200px;
    cursor:not-allowed;
}

/* scrollbar fix for Chrome - always show scrollbars for smart table, UI Grid */
div::-webkit-scrollbar, tbody::-webkit-scrollbar {
    -webkit-appearance: none;
}
div::-webkit-scrollbar:vertical, tbody::-webkit-scrollbar:vertical  {
    width: 11px;
}
div::-webkit-scrollbar:horizontal, tbody::-webkit-scrollbar:horizontal {
    height: 11px;
}
div::-webkit-scrollbar-thumb, tbody::-webkit-scrollbar-thumb {
    border-radius: 8px;
    height:26px;
    border: 2px solid #f3f3f3; /* should match background, can't be transparent */
    background-color: rgba(0, 0, 0, .5);
}
div::-webkit-scrollbar-track, tbody::-webkit-scrollbar-track {
    background-color: #f3f3f3;
}

/* textarea placeholder */
textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #999;
  font-weight:bold;
  font-size:14px;
}
textarea::-moz-placeholder { /* Firefox 19+ */
  color:#999;
  opacity:1;
  font-weight:bold;
  font-size:14px;
}
textarea:-ms-input-placeholder { /* IE 10+ */
  color: #999;
  font-weight:bold;
  font-size:14px;
}
textarea:-moz-placeholder { /* Firefox 18- */
  color: #999;
  opacity:1;
  font-weight:bold;
  font-size:14px;
}
textarea[disabled] {
    cursor:not-allowed;
    opacity:.7;
}


@keyframes spinner {
  to {transform: rotate(360deg);}
}
@media (min-width: 992px) {
    .col-md-11 {

    }
}

.backBtn {
    font-weight:600;
    min-width:120px;
    font-size: .85em;
}

/* tabs */
.tab-container {
    width:74% !important;
}
.margin-left-none {
    margin-left:0;
}
.main-container .nav-tabs {
    background: #d3e2eb;
    margin-left:30px;
    margin-top:0;
}
.main-container .top-bar {
    margin-left:-15px;
}
.tab-pane {
    margin-left:20px;
    color:#77797c;
}
.tab-content {background:#F2F2F2}
.nav.nav-tabs li a {
    background:#FFF;
    color:#438EBB;
}
.nav.nav-tabs li a:hover {
    background:#eaeaea;
    border-top: 1px solid #d9d9d9;
}
.nav.nav-tabs li a[disabled] {
    cursor:not-allowed;
    color:#a7a9ac;
    background:#FFF;
}
.nav.nav-tabs li.active a {
    background:#438EBB;
    color:#FFF;
}
.nav-tabs>li:first-child>a {
    border-radius: 8px 0 0 0;
}
.popoverTemplates {color:#77797c;padding:1px 10px;}
.spinner {
	border: 16px solid #d8e6ee;
	border-radius: 50%;
	border-top: 16px solid #3498db;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -50px; /* half width of the spinner gif */
	margin-top: -50px; /* half height of the spinner gif */
	text-align: center;
	z-index: 1060;
	overflow: auto;
	width: 100px; /* width of the spinner gif */
	height: 100px; /*hight of the spinner gif +2px to fix IE8 issue */
	overflow: visible;
    animation: spinner 1.6s linear infinite;
}
div[disabled] {
    opacity:.4;
}
select[disabled] {
    opacity:.4;
}
button[disabled] {
    opacity:.4;
}
#whiteCover {
    background:#FFF;opacity:.6;width:100%;height:100%;position:absolute;z-index:100;
}
#appDataError {
    position:absolute;
    z-index:101;
    left: 50%;
    margin-left: -325px;
    top:90px;
    max-width: 700px;
    background: #FFF;
    padding: 25px 25px 10px 25px;
    border-radius: 5px;
    border:solid 1px;
    font-size:14px;
    box-shadow: 3px 3px 3px 0 #b7b7b7;
}

#appDataError div {text-align:center;margin-top:20px;}

#logger {
	font-family:monospace, sans-serif;
	word-wrap: break-word;
    max-height: 60vh;
    overflow-y: auto;
    font-size: .9em;
    padding-bottom:5px;
    text-align:left !important;
}

/* autocomplete widget */

.autocomplete {
    min-width: 355px;
    max-width:500px;
    border-radius: 5px;
    background:#FFF;
    border:0;
    color: #a7a9ac;
    display:inline-block;
    width:30%;
    padding-top:1px;
}
.autocomplete input {
    padding: 0 12px;
    color: rgb(67, 142, 187);
    font-weight:600;
    box-shadow: none;
    border:0;
    font-size:14px;
    border-radius:5px;
    width:88%;
    text-transform: capitalize;
}
.autocomplete .dropdown-menu {
    max-height: 60vh;
    min-width: 284px;
    overflow-y: auto;
    top:24px;
}
.autocomplete.dropdown {
    max-height:25px;
    padding-bottom:2px;
}

.autocomplete .dropdown-menu li > a {
    cursor:pointer;
    padding:4px 12px;
    font-size:14px;
    text-transform: capitalize;
}
.autocomplete .dropdown-menu li > a:hover {
    background: #eee;
}

.autocomplete .pull-right{
    margin-right: 5px;
    cursor:pointer;
}

.autocomplete.showMenu {
    display:block !important;
}

.autocomplete .active {
    color: #7FB43B !important;
    background:#eee;
}

input[type="text"]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #999;
}
input[type="text"]::-moz-placeholder { /* Firefox 19+ */
    color: #999;
    opacity:1;
}
input[type="text"]::-ms-input-placeholder { /* IE 10+ */
    color: #999;
}
input[type="text"][disabled] {
    opacity:.6;
}

/* ui grid */

.collapsed {
    color:#000;
}
.ptName {color:#438ebb;font-weight:bold;text-transform: capitalize;}
.ptName img {
    margin-left:3px;
}

.patientGrid {
    height: 68vh;
}


.ui-grid-viewport .ui-grid-cell-contents {
  word-wrap: break-word;
  white-space: normal !important;
}
.ui-grid-viewport {
    overflow-x: hidden !important;
    overflow-y:auto;
    background-color:#FFF;
    overflow-anchor: none !important;
}

.ui-grid-canvas {
    width:100% !important;
}

.ui-grid-header-cell .ui-grid-cell-contents {
     height: 60px;
     outline:0;
     white-space: normal;
     -ms-text-overflow: clip;
     -o-text-overflow: clip;
     text-overflow: clip;
     overflow: visible;
     padding:2px 4px 4px 5px;
}
.ui-grid-icon-up-dir:before {
    top:4px !important;
    right:2px !important;
    font-size:1.1em;
}
.ui-grid-icon-down-dir:before {
    top:4px !important;
    right:2px !important;
    font-size:1.1em;
}
.ui-grid-row {
    font-size:.8em;
}
.ui-grid-row, .ui-grid-cell {
   height: auto !important;
   text-align: center;
}
.ui-grid-cell:nth-child(2) {
    text-align:left;
}
.ui-grid-cell span {
}

.ui-grid-cell div > span {

}

.ui-grid-row div[role=row] {
  display: flex;
  align-content: stretch;
}

.ui-grid-row div[role=row] > .ui-grid-cell:last-child {
    width:100%;
    max-width:100% !important;
}
.ui-grid-header-canvas, .ui-grid-top-panel {
    background-color: #505052 !important;
    color: #FFF;
}
.ui-grid-filter-container {
    background: #77797c !important;
    padding: 5px 9px 3px 9px;
}
.ui-grid-header-cell-wrapper .ui-grid-header-cell:last-child .ui-grid-filter  {
    width:100% !important;
}
.ui-grid-cell:first-child {
    padding-left:5px;
}
.ui-grid-row:nth-child(even) .ui-grid-cell {
    background-color:#e7eff6;
}
.ui-grid-row:nth-child(odd) .ui-grid-cell {
    background-color:#FFF;
}

#onBaseGrid .ui-grid-viewport .ui-grid-row {
    color:#000;
}

#onBaseGrid .selected-row[disabled] {
    background-color: #daecc5 !important;
    color:#000;
}

#onBaseGrid .selected-row {
    background-color: #e6f6d2 !important;
}

#onBaseGrid .ui-grid-cell:nth-child(2) {
    text-align: center;
}
.onbase .grayLink {
    font-size:12px;
}

.ui-grid-top-panel {
    background:none;
}

input[type="text"].ui-grid-filter-input{
    border-radius:5px;
    font-size:.8em;
    border: 1px solid #ccc;
    padding: 2px 2px 1px 2px;
    background-color: #f3f3f4;
    color:#505052;
}
.ui-grid-cell  i.fa {
    font-size:22px;
}
.ui-grid-filter-container:first-child {
    height:32px;
}
.ui-grid-header-cell:first-child  .ui-grid-cell-contents{
    width:26px;
    font-size:22px;
}
.ui-grid-header-cell-wrapper,.ui-grid-canvas {

}
.ui-grid-header-cell-label {
    font-size:14px;
    font-weight:600;
}
.ui-grid-header-cell {
    line-height: 17px;
}
.ui-grid-render-container-body .ui-grid-viewport .ui-grid-row div {
}

.ui-grid-row .ui-grid-cell {
    line-height: 23px;
    padding: 10px 4px 4px 4px;
}
.ui-grid-row i.fa {
    padding-top:2px;
    color:#808080;
    cursor:pointer;
}

.ui-grid-row i {
    font-style:normal;
}

.ui-grid-header-cell i.fa {
    padding:2px 0 0 4px;
    cursor:pointer;
}

.ui-grid-icon-up-dir:before,.ui-grid-icon-down-dir:before {
    color:#5dabde;
    position:absolute;
    top:0;
    right:0;
}
.ui-grid-header-cell:nth-child(2),.ui-grid-header-cell:nth-child(3)  {
}
.ui-grid-header-cell:last-child {
    max-width:100% !important;
}

.ui-grid-filter-container select {
    color:#777;
    font-size:.8em;
}

.ui-grid-header-viewport,.ui-grid-top-panel {
    overflow:visible !important;
}
.ui-grid-top-panel .dropdown-menu {
    top:26px;
    left: 10px;
    min-width:110px !important;
}
.ui-grid-top-panel .dropdown {
    position:static;
}
.ui-grid-icon-cancel {
    color:#77797c;
}
.ui-grid-row:last-child .ui-grid-cell {
    border-bottom-width: 1px !important;
}


/* screen specific css */

#logoImg {
    padding-left: 18px;
    padding-top: 5px;
    /* width:260px; */
    width:208px;
}
#freseniusLogo {
    background:#3b3b3b;width: 168px;height:68px;float:left;
}
#freseniusLogo img {
    width: 162px;
    padding:18px 12px 10px 12px;
}
.nav-button-container {
    padding: 8px 25px 8px 8px;
}

/* footer */
footer {
    font-size:12px;
    text-align:center;
    color:#777;
    margin-top: 2vh;
}

/* patient access screen */
#patientAccess .table-responsive {width:92%;}
#patientAccess {padding:0 0 0 0;background-color:#d3e2eb;width:115%;}
#patientAccess.closed {
    width:140%;
}

#patientAccess .tabHeader {width:120%;background-color:#d3e2eb;}
#patientAccess.closed .tabHeader {width:112%;}
#patientAccess .tabHeader a {position:absolute;right:520px;top:10px;color:#77797c !important}
#patientAccess h1 {
    color:#438EBB;
    margin:0;
    padding: 16px 0 10px 24px;
    font-weight:600;
    font-size:23px;
}
#patientAccess .ui-grid-header-canvas, #patientAccess .ui-grid-top-panel {
    background-color:#438EBB !important;
}
#patientAccess .ui-grid-row .ui-grid-cell {
   color:#333333;
}
#patientAccess .ui-grid-header-cell .ui-grid-cell-contents {
     height: 48px;

}
#patientAccess .ui-grid-header-cell-row:first-child .ui-grid-header-cell {
    vertical-align: bottom;
}
#patientAccess .tab-pane .row:first-child div {border-bottom:solid 1px #ccc;}

#patientAccess .ui-grid-header-cell-row > div.ui-grid-header-cell .ui-grid-filter-container {
}
#patientAccess .ui-grid-header-cell-row > div.ui-grid-header-cell:last-child  .ui-grid-filter-container{
    overflow-x:hidden;
}
#patientEducation .ui-grid-header-cell-row > div.ui-grid-header-cell:nth-child(5)  .ui-grid-filter-container input {
    visibility:hidden;
}
#patientEducation .ui-grid-header-cell-row > div.ui-grid-header-cell:nth-child(6)  .ui-grid-filter-container input {
    visibility:hidden;
}
#patientEducation .ui-grid-header-cell-row > div.ui-grid-header-cell:last-child  .ui-grid-filter-container{
    overflow-x:hidden;
}
#patientAccess .ui-grid-header-cell-row > div.ui-grid-header-cell:first-child  .ui-grid-filter-container{
    width:31px;
}
#patientAccess .ui-grid-row .ui-grid-cell:first-child {
   padding:0;
}
#patientAccess .ui-grid-row .ui-grid-cell:first-child:hover {
   background-color: #449d44;
}
#patientAccess .ui-grid-row .ui-grid-cell:first-child img {
   width:17px;
}
#patientAccess .ui-grid-row .ui-grid-cell:first-child div {
   padding:5px;
}
#patientAccess .ui-grid-row .ui-grid-cell:first-child   {
   background:#7FB43B;width:100%;height:auto;
   border-bottom:solid 1px #fdfdfd;
}
#patientAccess .ui-grid-row .ui-grid-cell i.fa {
   font-size:1.2em;
}
#patientAccess .ui-grid-icon-up-dir:before, #patientAccess .ui-grid-icon-down-dir:before {
    color:#FFF;
}
#patientAccess .ui-grid-row .ui-grid-cell {
    line-height: 23px;
    padding: 6px 4px 4px 4px;
}
#patientAccess .panel-heading {
    background-color:#FFF;
    color:#777;
    font-size:15px;
}
#accessDetailsGrid, #patientEducationGrid {
    height:60vh !important;
}
#accessDetailsGrid .ui-grid-cell:nth-child(2) {
    text-align:center;
}

/* patiend education grid */
#patientEducationGrid .ui-grid-cell:nth-child(2) {
    text-align:left;
    padding-left:10px;
}

#add-topic .dropdown-toggle {
    max-width:450px;
    width:440px;
}
#add-topic .dropdown-menu {
    max-width:500px;
}

/* access plan accordion */

#accessPlan .panel {
    box-shadow: 1px 1px 3px rgba(0,0,0,.3);
}
#accessPlan .panel-heading {
    background: #438EBB;
    color:#FFF;
    padding:0;
}
#accessPlan .panel-heading .xcell {
    background: #438EBB;
    color:#FFF;
    padding: 6px 15px;
}
#accessPlan .panel-heading .xcell:first-child .glyphicon {
    padding-right:5px;
}
#accessPlan .panel-title a {
    text-decoration: none !important;
}
#accessPlan .panel-body {
    font-size:.9em;
    padding:0;
}
#accessPlan .panel-group {
    margin-bottom:8px;
}
#accessPlan .panel-body .xcell {
    padding: 2px 15px;
}
#accessPlan .panel-body .planRows:nth-child(even) {
        padding: 2px 15px;
        background-color:#E7E7E8;
}
#accessPlan .panel-body .planRows:nth-child(odd) {
        padding: 2px 15px;
        background-color:#F3F3F4;
}
#accessPlan .filters, #accessPlan .filters a {
    color:#77797c;
    font-size:.9em;
    font-weight:bold;
    text-decoration:none;
    text-align:right;
}
#accessPlan .filters {
    padding-bottom:8px;
}
#accessPlan .planHeader {
    border-bottom:solid 1px #438ebb;
    background-color: #FFF;
    font-weight:bold;
}
#accessPlan .modal-menu.dropdown button {
    padding: 2px 0px;
    text-align: left;
    min-width:150px
}
#accessPlan .modal-menu .dropdown-menu li a {
    text-align:left;
}
#accessPlan .menu-icons {
    width:14px;
    padding-right:2px;
    margin-top:-2px;
}
#accessPlan .accordionContainer {
    margin-top:10px;max-height: 60vh;overflow-y:auto;
    padding-left:0;
}
#accessPlan .panel-heading .planAccordion .xcell  {
    font-size:.9em;
}
#accessPlan .panel-heading .planAccordion .xcell:nth-child(1)  {
    width:30%;
}
#accessPlan .panel-heading .planAccordion .xcell:nth-child(2)  {
    width:40%;
}
#accessPlan .panel-heading .planAccordion .xcell:nth-child(3)  {
    max-width:60px;width:15%
}
#accessPlan .panel-heading .planAccordion .xcell:nth-child(3)  {
    max-width:60px;width:15%;white-space: nowrap;
}
#accessPlan .panel-heading .planAccordion .xcell:nth-child(4)  {
    max-width:50px;
}
#accessPlan .panel-heading .planAccordion .xcell:nth-child(5)  {
    width: 25px;padding-right: 15px;
}
#accessPlan .panel-heading .planAccordion img  {
    padding:0;
    margin-right:2px;
}
#accessPlan .xrow.planHeader .xcell:nth-child(1)  {
    width:30%;
}
#accessPlan .planHeader .xcell:nth-child(2)  {
    width:40%;
}
#accessPlan .planHeader .xcell:nth-child(3)  {
    max-width:60px;width:15%;padding-left:32px;
}
#accessPlan .planHeader .xcell:nth-child(4)  {
    max-width:50px;
}
#accessPlan .planRows .xcell:nth-child(1)  {
    width:30%;
}
#accessPlan .planRows .xcell:nth-child(2)  {
    width:40%;
}
#accessPlan .planRows .xcell:nth-child(2)  {
    max-width:60px;width:15%;
}
#accessPlan .planRows .xcell::nth-child(2)  {
    max-width:50px;
}
#accessPlan .blueBorder {
    border-left:solid 1px #438ebb;
}



/* access events accordion */

#accessEvents .panel-heading {
    background: #438EBB;
    color:#FFF;
    padding:0;
}
#accessEvents .panel-heading .xcell {
    background: #438EBB;
    color:#FFF;
    padding: 6px 15px;
}
#accessEvents .panel-heading .xcell:first-child .glyphicon {
    padding-right:5px;
}
#accessEvents .panel-title a {
    text-decoration: none !important;
}
#accessEvents .panel-body {
    font-size:.9em;
    padding:0;
}
#accessEvents .accordionContainer .panel-group .panel-group{
    margin-bottom:0;
}
#accessEvents .accordionContainer .panel-group {
    margin-bottom:10px;
}
#accessEvents .panel-body .xcell {
    padding:0;
    padding-top:2px;
    padding-bottom:2px;
}

#accessEvents .filters, #accessEvents .filters a {
    color:#77797c;
    font-size:.9em;
    font-weight:bold;
    text-decoration:none;
    text-align:right;
}
#accessEvents .planHeader {
    border-bottom:solid 1px #438ebb;
    background-color: #FFF;
    font-weight:bold;
}
#accessEvents .modal-menu.dropdown button {
    padding: 2px 0px;
    text-align: left;
    min-width:150px
}
#accessEvents .modal-menu .dropdown-menu li a {
    text-align:left;
}
#accessEvents .menu-icons {
    width:16px;
    padding-right:2px;
    margin-top:-2px;
}
#accessEvents .accordionContainer {
    margin-top:10px;max-height: 60vh;overflow-y:auto;
    padding-left:0;
}
#accessEvents .accordionContainer  .panel-body  {
    padding-bottom:10px;
}

#accessEvents .accordionContainer  .panel-body .panel-body  {
    padding-bottom:0px;
}
#accessEvents .panel  {
    box-shadow: 1px 1px 2px rgba(0,0,0,.3);
}
#accessEvents .panel .panel {
    box-shadow: none;
}

#accessEvents .panel-heading .accessAccordion .xcell  {
    background-color:#FFF;
    color:#77797c;

    vertical-align: middle;
}
#accessEvents .panel-heading .accessAccordion .xcell:first-child  {
    width: 222px;
}

#accessEvents .accordionContainer .panel-title {
    background:#FFF;
}

#accessEvents .panel-body  {
    border-top-color: #FFF;
}
#accessEvents .badge {
    background-color: #ef4136;
    color: #FFF;
    border-radius: 3px;
    text-align: center;
    padding: 1px 4px;
}
#accessEvents .panel-group .panel-group  {
    padding:0 15px 5px 15px;
}
#accessEvents .accessAccordion .panel  {
    box-shadow: none !important;
}
#accessEvents .eventsAccordion .xcell {
    padding-top:3px;
    padding-bottom:4px;
}
#accessEvents .eventsAccordion .xcell.disabled {
    background: #ccc !important;
}

#accessEvents .xtable  {
    background:#438ebb;
    font-size:.9em;
}

#accessEvents .eventsAccordion {
    font-weight:normal;
    border:solid 1px #FFF;
}
#accessEvents .eventsAccordion .xrow:nth-child(1) .xcell {
    vertical-align: middle;
    text-align: center;
}
#accessEvents .eventsAccordion .xrow:nth-child(1) .xcell:nth-child(1) {
    width:30px;padding: 4px 2px 4px 8px;text-align: left;
}
#accessEvents .eventsAccordion .xrow:nth-child(1) .xcell:nth-child(2) {
    padding: 4px 0px;
    text-align:left;
    line-height: 1.2em;
}
#accessEvents .eventsAccordion .xrow:nth-child(1) .xcell:nth-child(3) {
    padding:2px 5px;width:28px;border-left:solid 1px #FFF;border-right:solid 1px #FFF;
}
#accessEvents .eventsAccordion .xrow:nth-child(1) .xcell:nth-child(3) img {
    width:17px;
}
#accessEvents .eventsAccordion .xrow:nth-child(1) .xcell:nth-child(4) {
    padding:2px 6px;width:95px;border-left:solid 1px #FFF;border-right:solid 1px #FFF;
}
/* edit column */
#accessEvents .eventsAccordion .xrow:nth-child(1) .xcell:nth-child(5) {
    background-color: #7fb43b;width:28px;padding:1px 5px;border-left:solid 1px #FFF;border-right:solid 1px #FFF;
}
#accessEvents .eventsAccordion .xrow:nth-child(1) .xcell:nth-child(5):hover {
    background-color: #449d44;
}
#accessEvents .eventsAccordion .xrow:nth-child(1) .xcell:nth-child(5) img  {
    width:17px;
}
/* delete column */
#accessEvents .eventsAccordion .xrow:nth-child(1) .xcell:nth-child(6) {
    width:28px;padding:2px 7px;border-left:solid 1px #FFF;border-right:solid 1px #FFF;
}
#accessEvents .eventsAccordion .xrow:nth-child(1) .xcell:nth-child(6):hover {
    background-color: #00619b;
}
#accessEvents .eventsAccordion .xrow:nth-child(2) .xcell:nth-child(2) {
    padding-left:0px;
}
#accessEvents .eventsAccordion .xrow:nth-child(2) .xcell:nth-child(2) span {
    padding-left:15px;
}

#accessEvents .eventsAccordion .xcell i.fa {
    font-size:1.3em;
}


#accessEvents .eventsAccordion .xrow.infection .xcell:nth-child(2) {
    border-top:solid 1px #FFF;
}
#accessEvents .eventsAccordion .xrow.infection .xcell:nth-child(3) {
    border-top:solid 1px #FFF;
}
#accessEvents .eventsAccordion .xrow.infection .xcell:nth-child(4) {
    border-top:solid 1px #FFF;
}
#accessEvents .eventsAccordion .xrow.infection .xcell:nth-child(5) {
    border-top:solid 1px #FFF;
}
#accessEvents .eventsAccordion .xrow.infection .xcell:nth-child(6) {
    border-top:solid 1px #FFF;
}
#accessEvents .accessAccordion .xrow:first-child .xcell {
    padding-top:10px;
}
#accessEvents .eventsAccordion.xtable:first-child .xrow:first-child .infection i {
    position:absolute;top:50%;
}
#accessEvents .interventions .xcell {
    border-bottom:solid 1px #bdbec1;
    font-size:14px;
    background-color:#FFF;
    padding: 1px 8px 1px 12px;
}
#accessEvents .interventions img {
    width:14px;
}
.searchField {
    vertical-align:bottom;color:#438ebb;display:inline-block;
    max-width:180px;
    margin-left:5px;
}
.searchField input[type="text"] {
    background-color:#FFF;outline:0;
    width:100%;
    padding:2px 7px;
    border:solid 1px #7fb43b;
    border-radius: 5px;
    font-weight:bold;
}
.searchField input[type="text"]:focus {
    border:solid 1px transparent;
    outline: solid 2px #008cfe !important;
}

/* events: add event */
.affectedAccess .smallArrows {
    color:#5dabde;font-size:1.5em;vertical-align:bottom;
}
.affectedAccess .largeArrows {
    color:#5dabde;font-size:4em;cursor:pointer;
}
.affectedAccess .eventsShuttle {
    list-style-type:none;padding:0;width:390px;height:280px;border:solid 2px #bebec0;border-radius:10px;overflow-x:hidden;overflow-y:scroll;
}
.affectedAccess .eventsShuttle {
    padding:3px 5px;
}
.affectedAccess .eventsShuttle li {
    background-color:#e7e7e8;
    color:#6d6e70;
    border:solid 1px #FFF;
    padding:2px 8px;
    margin:5px 0px;
    text-transform:capitalize;
    text-align:left;
    box-shadow: 1px 1px 2px #818284;
    font-weight:bold;
    cursor:pointer;
}
.affectedAccess .eventsShuttle li.selected {
    background:#848584;
    color:#FFF;
}

/* observed events */
.modal-body.observedEvents  {
    min-height: 450px;
    max-height: 470px;
    overflow-y: auto;
}
.observedEvents .xcell.blueText.heading {
    font-size:1.1em;
    font-weight:600;
}

.observedEvents .grayHorBorder {
    border-bottom:solid 1px #949599;
}
.observedEvents .grayVerBorder {
    border-right:solid 1px #949599;
}
.observedEvents .observedToday {
    list-style-type:none;padding:0;overflow-y:auto;max-height:250px;
}
.observedEvents .observedTodayInfection {
    list-style-type:none;padding:0;overflow-y:auto;max-height:60px;
}
.observedEvents .eventsList {
    padding-left:22px;
}
.observedEvents .accordionContainer {
    padding:10px 0px;
}
.observedEvents .accordionContainer img{
    width:14px;
}
.observedEvents .accordionContainer a {
    text-decoration:none;
}
.observedEvents .interventionsList {
    font-style:italic;
}
.observedEvents .dateSpacer {
    padding-left:15px;
}
.observedEvents .obervedPreviously {
    max-height:250px;
    overflow-y:auto;
    overflow-x:hidden;
}
.observedEvents .firstCellContainer {
    padding:8px 0;
    font-weight:bold;
    width:40%;
}
.observedEvents .textButton a {
    color: #77797c!important;
        font-size: .9em;
        font-weight: 700;
        text-decoration: none;
        text-align: right;

}
.observedEvents .textButton a:focus {
    outline:0 !important;
}


/* add interventions */
.modal-body.addInterventions  {
    min-height: 450px;
    max-height: 470px;
    overflow-y: auto;
}

.addInterventions .interventions {
    padding-left:10px;
}
.addInterventions .interventions .form-group {
    margin-bottom:8px;
}
.addInterventions .interventions .modal-menu {
    text-transform:capitalize;
}

.addInterventions label {
    font-weight: 700;
    font-size: .95em;
    color: #6d6e71;
}

.addInterventions .firstCellContainer {
    width:40%;
}
.addInterventions .form-group {
    width:100%;
}

/* edit intervention & edit infection */

.modal-body.editIntervention  {
    padding:0 25px 0 20px;
    min-height:470px;
}

.modal-body.editIntervention .row {
    margin-left:0 !important;
}

.editIntervention .blueForm {
    background: #d3e2eb;
    padding: 10px 0;
    margin: 0;
    color: #6d6e71;
    font-size: .9em;
}
.editIntervention .greenForm {
    background: #daecc5;
}
.editIntervention img {
    width:14px;
}
.editIntervention .close {
    top:-5px;right:10px;font-size:2.5em;font-weight:normal;
}
.editIntervention .panel {
    background:transparent;
}
.editIntervention a.blueLink {
    font-size:1.1em;
}

.editIntervention .panel ul {
    list-style-type: none;max-height:100px;overflow-y:auto;padding:0;padding-left:3px;margin:0;
}
.editIntervention .panel ul>li {
    color: #6d6e71 !important;
    font-style: italic;
    font-weight: 400!important;
    font-size:.95em;
}

.editIntervention .interventionContainer {
    padding:0;max-height:450px;min-height:390px;overflow-y:auto;overflow-x:hidden;
    font-size:1.2em;
    padding-left:5px;
}

.editIntervention .interventionContainer > div {
    margin-bottom:10px;
    box-shadow: 1px 1px 3px rgba(0,0,0,.3);
}

/* infection status */
.modal-body.editInfectionStatus {
    min-height:460px;
}


/* infection details */
.modal-body.infectionDetails {
    min-height:460px;
}
.modal-body.infectionDetails ul.eventsList {
    padding-left:65px;font-size:1.1em;color:#438ebb;font-weight:bold;margin-bottom:0;padding-bottom:10px;
}

.modal-body.infectionDetails hr {
    border-top:1px solid #8bc541;margin:0;
}

/* provider look up overlay */
.modal-header .provider-lookup-panel  {
    position: absolute;
    top:65px;
    left:10px;
    width: calc(100% - 20px);
    background: #FFF;
    z-index: 3;
    padding:0;
    font-size:.9em;
}
.modal-header.editAccess .provider-lookup-panel {
    top:49px;
    min-height: 610px;
}

.modal-header .provider-lookup-panel .row {
    margin-left:0;
    padding-left:20px;
    padding-right:20px;
}
.modal-header .provider-lookup-panel .heading {
    background-color:#7fb43b;
    color:#FFF;
    padding:7px 10px 7px 30px;
    font-size:1em;
    font-weight:bold;
    text-align: left;
    margin:0;
}
.modal-header .provider-lookup-panel .container {
    background-color:#daecc5;
    padding:0;
    width:100%;
    padding-bottom:10px;
}
.provider-lookup-panel input[type="text"] {
    text-align:left;
}
.provider-lookup-panel .ui-grid {
    height:auto !important;
    margin:0 25px 0 10px;
}
.provider-lookup-panel .ui-grid button {
    padding: 4px 8px;
    font-size: 1.2em;
}
.provider-lookup-panel .ui-grid-render-container-body .ui-grid-viewport {
    height:270px !important;
}

/* pd infection details */
.modal-body.pdInfectionDetails {
    max-height: 490px;
    overflow-y: auto;
}

/* appointment calendar */
#AppointmentCalendar {
    min-width:1180px;
}
#AppointmentCalendar button.dropdown-toggle {
    padding-top:4px;
    padding-bottom:4px;
}
#AppointmentCalendar .ui-grid-row .ui-grid-cell:nth-child(1) {
    background: #7fb43b;
    width: 100%;
    height: auto;
    border-bottom: solid 1px #fdfdfd;
    padding:0;
}
#AppointmentCalendar .ui-grid-cell-contents.disabled {
    background: #ccc;
}
#AppointmentCalendar .ui-grid-cell-contents.disabled .icon.pencilIcon {
    cursor:not-allowed !important;
}
#AppointmentCalendar .ui-grid-row .ui-grid-cell:nth-child(3) {
}
#AppointmentCalendar .ui-grid-row .ui-grid-cell:nth-child(4) {
    padding-left:0;
    padding-right:0;
}
#AppointmentCalendar .datepickerBox {
    background: #FFF;
    border-radius: 5px;
    width:auto !important;
    min-width:240px;
}
#AppointmentCalendar .weekStatic {
    color: #438ebb!important;font-size:14px;font-weight:700;cursor:not-allowed;display:inline-block;padding-top:5px;
}
#AppointmentCalendar .datepickerBox[disabled] {
    background: #f4f4f4 !important;
}
#AppointmentCalendar .weekButtons {
    vertical-align: middle;
    font-size: 20px;
    padding: 5px 9px;
    color: #428ebb;
    cursor:pointer;
}
#AppointmentCalendar .weekButtons[disabled] {
    opacity:.4;
}

#AppointmentCalendar .label {
    background-color: #9272a3;
    width: 11px;
    height: 18px;
    display: inline-block !important;
    margin-right: 5px;
    vertical-align: middle;
}
#AppointmentCalendar .label.purple {
    background-color: #9272a3;
}
#AppointmentCalendar  .label.blue {
    background-color: #3e7aa1;
}
#AppointmentCalendar .label.teal {
    background-color: #18a8ae;
}

#AppointmentCalendar .apptReason {
    background-color:#9373a3;
    color:#FFF;
    font-weight:600;
    padding:1px 3px;
}
#AppointmentCalendar .apptReason.blue {
    background-color: #3e7aa1 !important;
}
#AppointmentCalendar .apptReason.purple {
    background-color: #9272a3 !important;
}
#AppointmentCalendar .apptReason.teal {
    background-color: #18a8ae !important;
}


#AppointmentCalendar .datepickerBox input {
    padding:5px;
    padding-left:10px;
    width: 110px !important;
    min-width: 110px !important;
}
.AppointmentCalendar .ptName {
    color:#438ebb;
    font-weight:700;

}



/* onbase */
.onbase {
    overflow:hidden;
}
.onbase .close {
    font-size:1.6em !important;top:auto !important;right:auto !important;padding-left:5px;position: relative;
}

.onbaseScroller {
    max-height:60px;overflow-y:auto;
}
.onbaseScroller.editPanel {
    max-height:330px;overflow-y:auto;
}
.documentation-panel .onbaseScroller {
    max-height:210px;
}

.unknownBtn {
    float:right;margin-left:-70px;
}

.popoverMenu {
	list-style-type: none;
	padding:0;
	margin:0;
}
.popoverMenu > li {
	padding:3px 0;
	border-bottom: 1px solid #d1d2d4;
}
.popoverMenu > li:last-child {
	border-bottom: 2px solid transparent;
    border-bottom:0;
}
.popoverMenu > li > a {
	font-weight: 700;
	color: #6d6e71;
	text-decoration:none !important;
	padding: 0 4px;
    width: 100%;
    display: inline-block;
}
.popoverMenu > li > a:hover {
	color: #7fb43b !important;
}

/* status history table */
.statusHistoryTable  {
    width:100%;
    overflow:hidden;
}
.statusHistoryTable .xhead {
    font-weight: 600;
    background-color: transparent;
    display:table;
    width:100%;
}
.statusHistoryTable .required {
    color:#ff5700 !important;
}

.statusHistoryTable .xbody {
    background-color: #FFF;
    font-weight: 600;
    display:block;
    width:100%;
    max-height:92px;
    overflow-y:auto;
}
.statusHistoryTable .xcell {
    padding: 2px 8px;
}
.statusHistoryTable .xbody .xrow {
    border-bottom: solid 1px #ccc;
}
.statusHistoryTable .xbody .xrow:first-child {
    color:#438ebb;
    border-bottom: solid 2px #438ebb;
}
.statusHistoryTableExtra .xbody .xrow:first-child {
    color:#6c6e70;
    border-bottom: solid 2px #cccccc !important;
}
.statusHistoryTable .xrow .xcell:nth-child(1) {
    width:220px;
}
.statusHistoryTable .deleted {
    color: #bfbfbf !important;
    cursor:not-allowed;
}
.statusHistoryTableExtra .deleted {
    color: #bfbfbf !important;
    cursor:not-allowed;
}
.editAccessStatusHistory .deleted {
    color: #bfbfbf !important;
    cursor:not-allowed;
}
.statusHistoryTable .xrow .xcell:nth-child(2) {
    width:200px;
}
.statusHistoryTable .xrow .xcell:nth-child(3) {
    width:398px;
}
.statusHistoryTable .xcell.nodata {
    width:818px !important;
}

/* edit status history modal dialog */
.editAccessStatusHistory .modal-section-blue {
    font-size:.9em;
}

.editAccessStatusHistory .access-status {
    background: transparent;
    padding:10px 0;
    margin:0;
    color:#6d6e71;
    font-size:.9em;
}

.editAccessStatusHistory .statusHistoryTable .xbody {
    min-height:210px;
}

.editAccessStatusHistory .spacer {
    padding:0 20px;
}
.editAccessStatusHistory label.modal-menu {
    font-size:14px;
}

.editAccessStatusHistory .statusHistoryTable .xhead {
    font-weight: 700;
    background-color: transparent;
    border-bottom: solid 1px #cccccc;
    color: #7d7d7d;
}

.editAccessStatusHistory .statusHistoryTable .xhead .xcell:nth-child(1) {
    width:34px;
}
.editAccessStatusHistory .statusHistoryTable .xhead .xcell:nth-child(2) {
    width:216px;
}

.editAccessStatusHistory .statusHistoryTable .xhead .xcell:nth-child(3) {
    width:149px;
}

.editAccessStatusHistory .statusHistoryTable .xbody .xrow:hover {
    background-color:#e9fbfd;
}

.editAccessStatusHistory .statusHistoryTable .xbody .xrow .xcell:nth-child(1) {
    width:30px;
    color:#7fb43b;
    text-align: center;
    cursor: pointer;
}
.editAccessStatusHistory .statusHistoryTable .xbody .xrow.deleted i {
    color: silver !important;
}

.editAccessStatusHistory .statusHistoryTable .xbody .xrow .xcell:nth-child(1) i {
    font-size:16px;
}
.editAccessStatusHistory .statusHistoryTable .xbody .xrow .xcell:nth-child(5) i {
    font-size:16px;
}
.editAccessStatusHistory .statusHistoryTable .xbody .xrow .xcell:nth-child(2) {
    width:220px;

}
.editAccessStatusHistory .statusHistoryTable .xbody .xrow .xcell:nth-child(3) {
    width:150px;
}
.editAccessStatusHistory .statusHistoryTable .xbody .xrow .xcell:nth-child(4) {
    width:390px;
    word-break: break-all;
}
.editAccessStatusHistory .statusHistoryTable .xbody .xrow .xcell:nth-child(5) {
    width:30px;
}

.editAccessStatusHistory .statusHistoryTable .xbody .xrow .xcell:nth-child(1) a {
    color:#7fb43b;
    outline:none !important;
}
.editAccessStatusHistory .statusHistoryTable .xbody .xrow .xcell:nth-child(5) a {
    color:#7fb43b;
    outline:none !important;
}
.editAccessStatusHistory .statusHistoryTable .xbody .xrow.deleted  {
    color: silver;
    background-color: #FFF !important;
    cursor:not-allowed !important;
}

.editAccessStatusHistory .statusHistoryTable .xbody .xrow.deleted a {
    color: silver;
    outline:none !important;
    cursor:not-allowed !important;
}


/* AFT grid */
#aftGrid .ui-grid-header-cell:first-child .ui-grid-cell-contents {
    width: auto;
}
#aftGrid .ui-grid-header-canvas, #aftGrid .ui-grid-top-panel {
    background-color: #438ebb!important;
}
#aftGrid input[type=text].ui-grid-filter-input {
    font-size:1em;
}
#aftGrid .ui-grid-row {
    font-size:.9em;
}

#aftGrid .ui-grid-header-cell .ui-grid-cell-contents {
    height:45px;
}
#aftGrid .ui-grid-header-cell:last-child .ui-grid-filter-input {
    display:none;
}

#aftGrid .ui-grid-icon-up-dir:before {
    font-size:20px;
    color:#FFF;
}
#aftGrid .ui-grid-icon-down-dir:before {
    font-size:20px;
    color:#FFF;
}
#aftGrid .ui-grid-viewport .ui-grid-row {
    color:#000;


}
#aftGrid .ui-grid-viewport {
max-height:169px;
}

#aftGrid .ui-grid-cell label {
    display:inline-block !important;
    width:30%;
    color:#000;
}

/* appointments */
.apptGroupAccordion .xcell:first-child {
    min-width:220px;
}
.apptGroupAccordion .xcell:nth-child(2) {
    padding-left:0;
}
.apptsAccordion .hideLeftBorder {
    border-left:solid 1px transparent !important;
}
.apptsAccordionPopover {
    max-width:700px;
}

.apptsAccordion .hideRightBorder {
    border-right:solid 1px transparent !important;
}
.apptGroupAccordion .xcell:nth-child(3) {
    width:170px;
}
.apptGroupAccordion .xcell:nth-child(4) {
    width:105px;
}
.apptsAccordion .xcell:nth-child(3) {
    width:205px !important;
}
.apptsAccordion .xcell:nth-child(4) {
    width:160px;
}
.apptsAccordion .info {
    width:16px !important;
    height:16px !important;
}
.apptsAccordion .xcell i.fa {
    font-size:1.3em;
}

.apptsAccordion .xcell.icon, .apptGroupAccordion .xcell.icon {
    width:28px !important;
    padding:0 !important;
}
.apptGroupAccordion .xcell.icon.endColumn {
    width:15px !important;
}
.apptsAccordion .xcell img {
    width:17px !important;
    height:17px;
}
.apptsAccordion .xcell.icon.status,.apptsAccordion .xcell.icon.delete  {
    background-color:#7fb43b !important;
}
.apptsAccordion .xcell.icon.delete.disabled {
    background-color:#ccc !important;
}
.apptsAccordion .xcell.icon.delete.disabled:hover {
    background-color:#ccc !important;
}
.apptsAccordion .xcell.icon.status.spacer {
    background-color: #438ebb !important;
}
.apptsAccordion .xcell.icon.edit {
    background-color:#7fb43b !important;
}
.apptsAccordion .xcell.icon.edit.disabled {
    background-color:#ccc !important;
    cursor:not-allowed;
}
.apptsAccordion .xcell.icon.edit:hover,.apptsAccordion .xcell.icon.delete:hover {
    background-color:#449d44 !important;
}
.apptsAccordion .xcell.icon.edit.disabled:hover,.apptsAccordion .xcell.icon.delete.disabled:hover {
    background-color:#ccc !important;
    cursor:not-allowed;
}
.apptInfo .xtable {
    margin-top:10px;
    background:transparent !important;
}
.apptInfo .xrow .xcell {
    border-bottom:0 !important;
    padding-bottom:10px !important;
}
.apptInfo .blueText {
    font-weight: 700;
}
.apptInfo .notes-table .heading {
    text-align:right;
    padding-left:127px !important;
}
.apptInfo em {
    font-size:.80em;
    color:#77797c;
}
.apptInfo .left-table {
    float:left;margin-right:50px;
}
.apptInfo .left-table .heading,.apptInfo .right-table .heading {
    text-align:right;
}
.apptInfo .notes-table .heading {
    width:65px;
}
.apptInfo .xcell.blueText > div {
    max-height:90px;overflow-y:auto;
}
.allChangesReadOnly {
    list-style-type: none;
    padding: 10px;
    width: 390px;
    max-height:150px;
    border: solid 2px #bebec0;
    border-radius: 10px;
    overflow-x: hidden;
    overflow-y: scroll;
    font-size:14px;
    font-weight:600;
}

/**** Added for appointment lookup provider Modal ******/

#lookUpProviderModal .provider-lookup-panel {
    background-color:#daecc5;
    padding:0;
    width:100%;
    padding-bottom:10px;

}
#lookUpProviderModal .provider-lookup-panel .heading {
    background-color:#7fb43b;
    color:#FFF;
    padding:7px 10px 7px 30px;
    font-size:1em;
    font-weight:bold;
    text-align: left;
    margin:0;
}

#lookUpProviderModal  .modal-body {
color: #6d6e71;
padding: 0 30px 0 25px !important;
border: 0;
}

#lookUpProviderModal  .modal-body .row {
    margin-left : 0px !important ;
}

.space-filler{
    /* height: 200%;
    position: absolute;
    width: 100%;
    left: 0; */
    height: 400%;
    position: absolute;
    width: calc(100% + 50px);
    left: -25px;
    top: -50px;
    z-index:-1;
}



/* ADD APPOINTMENT */


.radio-btn-container input[type='radio'] {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    outline: none;
    border: 2px solid gray;
    margin-right: 5px;
}


.radio-btn-container input[type="radio"]:checked {
  background-color: #5dabde;

}

.radio-btn-container .btn-adjust {
    position: relative;
    top:3px;
}

/* Tasks */
#Tasks {

}
#Tasks {
    min-width:1180px;
}
#Tasks button.dropdown-toggle {
    padding-top:4px;
    padding-bottom:4px;
}
#Tasks .ui-grid-row .ui-grid-cell:nth-child(1) {
    background: #7fb43b;
    height: auto;
    border-bottom: solid 1px #fdfdfd;
    padding:0;
}
#Tasks .ui-grid-row .ui-grid-cell:nth-child(2) {
    padding:7px;
}
#Tasks .ui-grid-row .ui-grid-cell:nth-child(3) .ptName {
    color:#438ebb !important;
    text-decoration:none;
    cursor:default;
}


#Tasks .ui-grid-row .ui-grid-cell:nth-child(3) {
    text-align:left;
}
#Tasks .ui-grid-row .ui-grid-cell:nth-child(5) {
    text-align:left;
}
#Tasks .ui-grid-row .ui-grid-cell:nth-child(6) {
    text-align:left;
}
#Tasks .ui-grid-cell-contents.disabled {
    background: #ccc;
}
#Tasks .ui-grid-cell-contents.disabled .icon.pencilIcon {
    cursor:not-allowed !important;
}


.logoutBody {
    background-color: #f3f3f3;
    color:#77797c;
}
.logout {
    border: solid 1px #ccc;
    border-radius:5px;
    background-color: #FFF;
    min-width:450px;
    max-width:600px;
    margin:auto auto;
    margin-top:5%;
    width:40%;
    padding:60px 40px;
}
.logout p {
    color:#77797c;
}

.logout p.logoutTitle {
    font-size:24px;color:#337ab7;padding-bottom:40px;
}