<div class="container" style="width:100% !important;">
    <div class="tab">
        <ul class="nav nav-tabs">
            <li class="active" ui-sref-active="active"><a ui-sref="grid-data">DC Loader Errors</a></li>
            <li ui-sref-active="active"><a ui-sref="treatment">Treatment Loader Requests </a></li>
            <li ui-sref-active="active"><a ui-sref="treatment-error">Treatment loader Errors</a></li>
        </ul>
    </div>
    <div class="row"><br></div>
    <div class="row">
        <div style="display: inline-flex;">
            <div class="lable-form">
                <label for="" class="modal-menu">Start Date:&nbsp;</label>
                <div class="input-group">
                    <div class="datepickerBox borderSolidGray boxShadowInsetGray">
                        <input type="text" class="form-control border0" uib-datepicker-popup="{{format}}" ng-model="model.startDate"
                            is-open="openStartDate" datepicker-options="dateOptions" ng-required="true" close-text="Close"
                            alt-input-formats="altInputFormats" />
                        <span class="input-group-btn datepickerButton">
                            <button type="button" class="btn btn-default" ng-click="openStartDate = true"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="center-lable"><b>TO</b></div>
            <div class="lable-form">
                <label for="" class="modal-menu">End Date:&nbsp;</label>
                <div class="input-group">
                    <div class="datepickerBox borderSolidGray boxShadowInsetGray">
                        <input type="text" class="form-control border0" uib-datepicker-popup="{{format}}"
                            uib-datepicker-popup ng-model="model.endDate" is-open="openEndDate" datepicker-options="dateOptions"
                            ng-required="true" close-text="Close" />
                        <span class="input-group-btn datepickerButton">
                            <button type="button" class="btn btn-default" ng-click="openEndDate = true"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </div>
                </div>
            </div>&nbsp;
            <div class="form-button center-lable">
                <button type="button" class="btn btn-success" data-ng-click="searchRecord()">Search</button>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <div ui-grid="gridOptions" ui-grid-auto-resize ui-grid-pagination style="height: 68vh;">
            <div class="watermark" ng-show="!gridOptions.data.length">No data available</div>
        </div>
    </div>
</div>
