<div class="container" style="width:100% !important;">

    <div class="tab">
        <ul class="nav nav-tabs">
            <li class="active" ui-sref-active="active"><a ui-sref="grid-data">DC Loader Errors</a></li>
            <li ui-sref-active="active"><a ui-sref="treatment">Treatment Loader Requests </a></li>
            <li ui-sref-active="active"><a ui-sref="treatment-error">Treatment loader Errors</a></li>
        </ul>
    </div>

    <div class="row"><br /></div>
    <div class="row">
        <div style="display: inline-flex;">
            <div class="lable-form">
                <label for="" class="modal-menu">Shift Number:&nbsp;</label>
                <div style="max-height: 35px;height: 34px;display: flex;align-items: center;margin-right: 5px;min-width: 290px;"
                    uib-dropdown class="autocomplete borderSolidGray boxShadowInsetGray" keyboard-nav popover-placement="bottom-left"
                    uib-popover-template="'startHereTemplate'" popover-trigger="'none'">
                    <input type="text" id="clinicName" ng-model-options="{ debounce: 200 }" autofocus="true"
                        placeholder="Select Shift Number..." ng-model="searchShiftVal" uib-dropdown-toggle>
                    <ul uib-dropdown-menu role="menu" aria-labelledby="simple-btn-keyboard-nav">
                        <li role="menuitem" ng-repeat="x in shifts">
                            <a ng-class="{'active' : $index === 0}" href="javascript:;" data-idx="{{x.shiftId}}"
                                ng-click="selectShift(x)">{{::x.shiftId}}
                            </a>
                        </li>
                    </ul>
                    <div class="pull-right">
                        <!-- <i ng-if="searchVal != ''" ng-click="clearShiftMenu()" class="fa fa-times" aria-hidden="true" style="margin-right:3px"></i> -->
                        <i ng-click="showMenu($event)" class="fa fa-caret-down" aria-hidden="true"></i>
                    </div>
                </div>
            </div>

            <div class="lable-form">
                <label for="" class="modal-menu">Status:&nbsp;</label>
                <div style="max-height: 35px;height: 34px;display: flex;align-items: center;margin-right: 5px;min-width: 290px;"
                    uib-dropdown class="autocomplete borderSolidGray boxShadowInsetGray" keyboard-nav popover-placement="bottom-left"
                    uib-popover-template="'startHereTemplate'" popover-trigger="'none'">
                    <input type="text" id="clinicName" ng-model-options="{ debounce: 200 }" autofocus="true"
                        placeholder="Select Status..." ng-model="searchStatusVal" uib-dropdown-toggle>
                    <ul uib-dropdown-menu role="menu" aria-labelledby="simple-btn-keyboard-nav">
                        <li role="menuitem" ng-repeat="y in status">
                            <a ng-class="{'active' : $index === 0}" href="javascript:;" data-idx="{{y.status}}"
                                ng-click="selectStatus(y)">{{::y.status}}
                            </a>
                        </li>
                    </ul>
                    <div class="pull-right">
                        <!-- <i ng-if="searchVal != ''" ng-click="clearStatusMenu()" class="fa fa-times" aria-hidden="true" style="margin-right:3px"></i> -->
                        <i ng-click="showStatus($event)" class="fa fa-caret-down" aria-hidden="true"></i>
                    </div>
                </div>
            </div>

            <div class="lable-form">
                <label for="" class="modal-menu">Shift Date:&nbsp;</label>
                <div class="input-group">
                    <div class="datepickerBox borderSolidGray boxShadowInsetGray">
                        <input type="text" class="form-control border0" uib-datepicker-popup="{{format}}" ng-model="shiftDate"
                            is-open="openShiftDate" datepicker-options="dateOptions" ng-required="true" close-text="Close"
                            alt-input-formats="altInputFormats" />
                        <span class="input-group-btn datepickerButton">
                            <button type="button" class="btn btn-default" ng-click="openShiftDate = true"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </div>
                </div>
            </div>
            &nbsp;
            <div class="form-button center-lable">
                <button type="button" class="btn btn-success" data-ng-click="searchRecord()">Search</button>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <div ui-grid="gridOptions" ui-grid-auto-resize ui-grid-pagination style="height: 68vh;">
            <div class="watermark" ng-show="!gridOptions.data.length">No data available</div>
        </div>
    </div>

</div>
