<!DOCTYPE html>
<html lang="en">

<head>
	<title>Admin App</title>
	<link rel="Shortcut Icon" type="image/ico" href="./app/images/app-icon.png?v=">
	<link rel="stylesheet" href="./bower_components/bootstrap-css-only/css/bootstrap.min.css" />
	<link rel="stylesheet" href="./app/css/font-awesome.min.css">

	<link rel="stylesheet" href="./app/css/custom-app.css" />
	<link rel="stylesheet" href="./app/css/screens.css">
	<link rel="stylesheet" href="./app/css/styles.css">
	<link rel="stylesheet" href="./app/css/global.css">
	<link rel="stylesheet" href="./bower_components/angular-ui-grid/ui-grid.min.css">



	<script type="text/javascript" src="./bower_components/angular/angular.min.js"></script>
	<script type="text/javascript" src="./bower_components/angular-ui-router/release/angular-ui-router.js"></script>
	<script type="text/javascript" src="./bower_components/angular-resource/angular-resource.min.js"></script>

	<script type="text/javascript" src="./bower_components/angular-ui-grid/ui-grid.min.js"></script>
	<script type="text/javascript" src="./bower_components/angular-ui-grid/ui-grid.auto-resize.min.js"></script>

	<script type="text/javascript" src="./bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
	<script type="text/javascript" src="./app/js/data-table.constant.js"></script>
	<script type="text/javascript" src="./app/js/function.js"></script>
	<script type="text/javascript" src="./app/services/constant.js"></script>
	<script type="text/javascript" src="./app/app.js"></script>

	<!-- Controller -->
	<script type="text/javascript" src="./app/controllers/grid-data.controller.js"></script>
	<script type="text/javascript" src="./app/controllers/footer_ctrl.js"></script>
	<script type="text/javascript" src="./app/controllers/treatment.controller.js"></script>
	<script type="text/javascript" src="./app/controllers/treatment-error.controller.js"></script>
	<!-- Controller -->

	<!-- Services -->
	<script type="text/javascript" src="./app/services/loading-queue.service.js"></script>
	<script type="text/javascript" src="./app/services/grid-data.service.js"></script>
	<script type="text/javascript" src="./app/services/treatment-error.service.js"></script>
	<script type="text/javascript" src="./app/services/treatment.service.js"></script>
	<!-- Services -->

</head>

<body ng-app="tacWorkflowWebApp">
	<div class="spinner-top" id="spinner">
		<div class="spinner" id="keycloakSpinner"></div>
	</div>
	<nav class="navbar navbar-default" style="background-color:#5dabde;border-color:#5dabde !important;">
		<div class="container-fluid padding-left-none header-50">

			<a class="navbar-brand" id="freseniusLogo" href="javascript:;">
				<img src="./app/images/fresenius-logo-white.svg">
			</a>
			<!-- <div class="container-fluid padding-left-none">
				<a class="navbar-brand" href="javascript:;">
				<i class="fas fa-wrench"></i></a>
			</div> -->
		</div>
		<div class="header-title">
			<p style="margin: 0px 0px 0px !important;">Admin App</p>
		</div>
	</nav>

	<!-- <div class="row" data-ng-controller="TopBarController">
		<nav class="navbar navbar-default ui-drop-down">
			<div class="container-fluid padding-left-none header-50">
				<div class="container-fluid padding-left-none">
					<div uib-dropdown class="autocomplete" keyboard-nav popover-placement="bottom-left" uib-popover-template="'startHereTemplate'"
					 popover-trigger="'none'">
						<input type="text" id="clinicName" ng-model-options="{ debounce: 200 }" autofocus="true" placeholder="Select Clinic..."
						 ng-model="searchVal" uib-dropdown-toggle>
						<ul uib-dropdown-menu role="menu" aria-labelledby="simple-btn-keyboard-nav">
							<li role="menuitem" ng-repeat="x in clinics | filterDropdown:searchVal ">
								<a ng-class="{'active' : $index === 0}" href="javascript:;" data-idx="{{x.clinicId}}" ng-click="selectClinic(x)">{{::x.clinicId}}
									- {{::x.name}}</a>
							</li>
						</ul>
						<div class="pull-right">
							<i ng-if="searchVal != ''" ng-click="clearMenu()" class="fa fa-times" aria-hidden="true" style="margin-right:3px"></i>
							<i ng-click="showMenu($event)" class="fa fa-caret-down" aria-hidden="true"></i>
						</div>
					</div>
				</div>
			</div>
		</nav>
	</div>
	 -->
	<div ui-view class="row"> </div>

	<footer>
		<div class="container-fluid" data-ng-controller="footerController">
			<div class="row">
				<div class="col-md-12">
					<p>Date: {{getYear()}} | Time: {{getTime()}}</p>
					<p>Copyright &copy; {{getCopyRightYear()}}, Fresenius Medical Care North America, All Rights Reserved.</p>
				</div>
			</div>
		</div>
	</footer>
</body>

</html>
