<!DOCTYPE html>
<html>
	<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=4,user-scalable=yes"/>

<title>Cricket Minds</title>

	    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

</head>

<body ng-app="cricketmindsApp">

	
	<!-- bootstrap ng-app, load initial view -->
	<div ng-controller="homeController">
		<div>Hello {{user}}</div>
		
		Your name:
    <input type="text" ng-model="username"/>
    <button ng-click='sayHello()'>greet</button>
  		<hr/>
  		{{greeting}}
  
        <button class="btn btn-md btn-success" tabindex="-1" type="button" ng-click="goLogin()">OK</button>
  
  
	</div>
	
	<ui-view></ui-view>
	
	<script type="text/javascript" src="bower_components/angular/angular.js"></script>
	<script type="text/javascript" src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
	
	<script src="js/app.js"></script>
	
</body>
</html>